# IntelliJ IDEA files
.idea/
/out
*.iws
*.iml
*.ipr

# node_modules
package-lock.json
node_modules/
yarn-error.log
.yarn/

# test output
output/
test-results/

.DS_Store
~*

.gradle
!gradle/wrapper/gradle-wrapper.jar
build/
service/out
service/bin

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

# helm charts
requirements.lock
charts/*/charts/*.tgz

# user mappings file
application-user-mappings.yaml

# feature toggle file
application-feature-toggle.yaml

# email template integration tests
application-email-template-test.yaml

# wiremock response
docker/wiremock/__files/mockResponse.json
docker/wiremock/mappings/user-by-email/*

# report outputs
functional-output/

# terraform modules
infrastructure/.terraform/
/update-local-env.sh

# vscode
.vscode/*
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
tests-examples/demo-todo-app.spec.ts
playwright-e2e/local-config/config.js
playwright-e2e/.env

# Ignore .env file
.env
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
