version: '2.1'
services:
  fpl-service:
    build:
      context: .
      args:
        - http_proxy
        - https_proxy
        - no_proxy
    image: docker.artifactory.reform.hmcts.net/fpl/fpl-service
    container_name: fpl-service
    environment:
      - IDAM_API_URL=http://idam-api:8080
      - DOCUMENT_MANAGEMENT_URL=http://dm-store:8080
      - CORE_CASE_DATA_API_URL=http://ccd-data-store-api:4452
      - IDAM_S2S_AUTH_URL=http://service-auth-provider-api:8080
      - IDAM_S2S_AUTH_TOTP_SECRET=AABBCCDDEEFFGGHH
      - FPL_LOCAL_AUTHORITY_NAME_MAPPING=swansea.gov.uk=>swansea;hillingdon.gov.uk=>hillingdon
      # these environment variables are used by java-logging library
      - ROOT_APPENDER
      - JSON_CONSOLE_PRETTY_PRINT
      - ROOT_LOGGING_LEVEL
      - REFORM_SERVICE_TYPE
      - REFORM_SERVICE_NAME
      - REFORM_TEAM
      - REFORM_ENVIRONMENT
      - LOGBACK_DATE_FORMAT
      - LOGBACK_REQUIRE_THREAD
      - LOGBACK_REQUIRE_ALERT_LEVEL=false
      - LOGBACK_REQUIRE_ERROR_CODE=false
    ports:
      - $SERVER_PORT:$SERVER_PORT
    networks:
      - default
      - ccd
networks:
  ccd:
    external:
      name: compose_default
