version: '2.1'
services:
#  fpl-service:
#    build:
#      context: .
#      args:
#        - http_proxy
#        - https_proxy
#        - no_proxy
#    image: hmctspublic.azurecr.io/fpl/case-service
#    container_name: fpl-service
#    environment:
#      - IDAM_API_URL=http://idam-api:8080
#      - DOCMOSIS_TORNADO_URL=http://docmosis-tornado:80
#      - DOCUMENT_MANAGEMENT_URL=http://dm-store:8080
#      - CORE_CASE_DATA_API_URL=http://ccd-data-store-api:4452
#      - IDAM_S2S_AUTH_URL=http://service-auth-provider-api:8080
#      - IDAM_S2S_AUTH_TOTP_SECRET=AABBCCDDEEFFGGHH
#      - FPL_LOCAL_AUTHORITY_EMAIL_TO_CODE_MAPPING=swansea.gov.uk=>SA;hillingdon.gov.uk=>HN
#      - FPL_LOCAL_AUTHORITY_CODE_TO_NAME_MAPPING=SA=>Swansea City Council;HN=>London Borough Hillingdon;PCC=>Portsmouth City Council;STF=>Staffordshire County Council;SCC=>Southampton City Council
#      - FPL_LOCAL_AUTHORITY_USER_MAPPING=SA=>31,32,33;HN=>34,35
#      - FPL_LOCAL_AUTHORITY_CODE_TO_HMCTS_COURT_MAPPING=SA=>Swansea Family Court:FamilyPublicLaw+sa@gmail.com;HN=>Portsmouth Combined Court:FamilyPublicLaw+hn@gmail.com
#      - FPL_LOCAL_AUTHORITY_CODE_TO_CAFCASS_MAPPING=SA=>Cafcass Cymru:FamilyPublicLaw+cafcassWales@gmail.com;HN=>Cafcass:FamilyPublicLaw+cafcassEngland@gmail.com
#      - NOTIFY_API_KEY
#      - CCD_UI_BASE_URL=http://localhost:3451
#      # these environment variables are used by java-logging library
#      - APPINSIGHTS_INSTRUMENTATIONKEY=fake-key
#    ports:
#      - $SERVER_PORT:$SERVER_PORT
#    networks:
#      - default
#      - ccd
  docmosis-tornado:
    image: alexisgayte/docmosis
    environment:
      # not supported in current version of Tornado
      DOCMOSIS_KEY: ""
      DOCMOSIS_SITE: "Free Trial License"
    volumes:
      - ./docker/docmosis/templates:/tmp/working/templates:rw
      - ./docker/docmosis/prefs.xml:/root/.java/.userPrefs/com/docmosis/webserver/prefs.xml:ro
      - IDAM_API_URL=http://sidam-api:5000
      - DOCUMENT_MANAGEMENT_URL=http://dm-store:8080
      - CORE_CASE_DATA_API_URL=http://ccd-data-store-api:4452
      - IDAM_S2S_AUTH_URL=http://service-auth-provider-api:8080
      - IDAM_S2S_AUTH_TOTP_SECRET=AABBCCDDEEFFGGHH
      - FPL_LOCAL_AUTHORITY_EMAIL_TO_CODE_MAPPING=swansea.gov.uk=>SA;hillingdon.gov.uk=>HN
      - FPL_LOCAL_AUTHORITY_CODE_TO_NAME_MAPPING=SA=>Swansea City Council;HN=>London Borough Hillingdon;PCC=>Portsmouth City Council;STF=>Staffordshire County Council;SCC=>Southampton City Council
      - FPL_LOCAL_AUTHORITY_USER_MAPPING=SA=>31,32,33;HN=>34,35
      - FPL_LOCAL_AUTHORITY_CODE_TO_HMCTS_COURT_MAPPING=SA=>Swansea Family Court:FamilyPublicLaw+sa@gmail.com;HN=>Portsmouth Combined Court:FamilyPublicLaw+hn@gmail.com
      - FPL_LOCAL_AUTHORITY_CODE_TO_CAFCASS_MAPPING=SA=>Cafcass Cymru:FamilyPublicLaw+cafcassWales@gmail.com;HN=>Cafcass:FamilyPublicLaw+cafcassEngland@gmail.com
      - NOTIFY_API_KEY=fake-key
      - CCD_UI_BASE_URL=http://localhost:3451
      # these environment variables are used by java-logging library
      - APPINSIGHTS_INSTRUMENTATIONKEY=fake-key
    ports:
      - 5433:80
networks:
  ccd:
    external:
      name: compose_default
