spring:
  config:
    activate:
      on-profile: integration-test

management:
  endpoints:
    enabled-by-default: false

idam:
  api:
    url: http://fake-idam-api
  s2s-auth:
    url: http://fake-service-auth-provider-api
    totp_secret: AABBCCDDEEFFGGHH
    microservice: fake

auth:
  idam:
    client:
      baseUrl: http://fake-idam-api
  provider:
    service:
      client:
        baseUrl: http://fake-service-api

core_case_data:
  api:
    url: http://fake-ccd-data-store-api

case-assignment:
  api:
    url: http://localhost:4454

docmosis:
  tornado:
    url: http://fake-docmosis-url
    key: fake-key

document_management:
  url: http://fake-document-management-store-api

notify:
  api_key: testApiKey

rd_professional:
  api:
    url: http://fake-rd-professional-api

send-letter:
  url: http://fake-send-letter

payment:
  api:
    url: http://fake-payment-api
  site_id: SITE_ID

manage-case:
  ui:
    base:
      url: http://fake-url

fees-register:
  api:
    url: http://fake-fees-register-api

bankHolidays:
  api:
    url: http://fake-bank-holidays-api

retry:
  delay: 50

fpl:
  env: 'localhost'
  local_authority_email_to_code:
    mapping: 'test1.org.uk=>test1;test3.org.uk=>test3'
  local_authority_code_to_name:
    mapping: 'test1=>Test 1 Local Authority;test2=>Test 2 Local Authority;test3=>Test 3 Local Authority'
  local_authority_code_to_hmcts_court:
    mapping: 'test1=>Family Court:admin@family-court.com:11;test2=>Family Court:admin@family-court.com:22;test3=>Family Court 3 A:court3a@family-court.com:31|Family Court 3 B:court3b@family-court.com:32'
  local_authority_code_to_cafcass:
    mapping: 'test1=>cafcass:cafcass@cafcass.com;test2=>cafcass:cafcass@cafcass.com'
  local_authority_code_to_shared_inbox:
    mapping: 'test1=>shared@test1.org.uk;test2=>shared@test2.org.uk'
  local_authority_fallback_inbox: 'FamilyPublicLaw+PublicLawEmail@gmail.com'
  local_authority_user:
    mapping: 'test1=>1,2,3'
  local_authority_code_to_org_id:
    mapping: 'test1=>ORG-LA;test2=>ORG-LA-2'
  eps_to_local_authorities:
    mapping: 'ORG-EXT=>test1'
  mla_to_local_authorities:
    mapping: 'ORG-LA-2=>test1'
  system_update:
    username: 'fpl-system-update@mailnesia.com'
    password: 'Password12'
  ctsc_inbox: 'FamilyPublicLaw+ctsc@gmail.com'

robotics:
  notification:
    sender: sender@example.com
    recipient: FamilyPublicLaw+robotics-test@gmail.com

security:
  anonymousPaths:
  authorisedServices:

scheduler:
  enabled: false

testing:
  support:
    enabled: true

send-grid:
  host: 127.0.0.1
  port: 1025
  api_key: fake-key

ld:
  user_key: FPLA

survey:
  url:
    caseSubmission: 'https://fake.survey.url'

resources:
  images:
    baseUrl: 'https://fake.images.url'
