server:
  port: 4000

management:
  endpoints:
    web:
      base-path: /
  endpoint:
    health:
      show-details: "always"

spring:
  application:
    name: fpl-service
  autoconfigure:
    exclude:
      - org.springframework.boot.autoconfigure.jdbc.DataSourceAutoConfiguration
      - org.springframework.boot.autoconfigure.quartz.QuartzAutoConfiguration
  config:
    import:
      - application-local.yaml
      - optional:application-user-mappings.yaml # won't be present in prod code
      - optional:application-feature-toggle.yaml # won't be present in prod code
  profiles:
    group:
      dev:
        - local
        - user-mappings
        - feature-toggle

feign:
  client:
    config:
      idam-api:
        error-decoder: uk.gov.hmcts.reform.fpl.config.feign.codec.IdamErrorDecoder

idam:
  s2s-auth:
    microservice: fpl_case_service

fees-register:
  parameters:
    # if these change be sure to update the appropriate wiremocks
    C2_WITHOUT_NOTICE:
      channel: default
      event: general application
      jurisdiction1: family
      jurisdiction2: family court
      keyword: ${FEES_REGISTER_C2_WITHOUT_NOTICE_KEYWORD:GeneralAppWithoutNotice}
      service: other
    C2_WITH_NOTICE:
      channel: default
      event: general application
      jurisdiction1: family
      jurisdiction2: family court
      keyword: notice
      service: other
    CARE_ORDER:
      channel: default
      event: issue
      jurisdiction1: family
      jurisdiction2: family court
      keyword: CareOrder
      service: public law
    EDUCATION_SUPERVISION_ORDER:
      channel: default
      event: miscellaneous
      jurisdiction1: family
      jurisdiction2: family court
      keyword: EducationSupervision
      service: private law
    EMERGENCY_PROTECTION_ORDER:
      channel: default
      event: miscellaneous
      jurisdiction1: family
      jurisdiction2: family court
      keyword: EPO
      service: private law
    INTERIM_CARE_ORDER:
      channel: default
      event: issue
      jurisdiction1: family
      jurisdiction2: family court
      keyword: CareOrder
      service: public law
    INTERIM_SUPERVISION_ORDER:
      channel: default
      event: issue
      jurisdiction1: family
      jurisdiction2: family court
      keyword: CareOrder
      service: public law
    OTHER:
      channel: default
      event: miscellaneous
      jurisdiction1: family
      jurisdiction2: family court
      keyword: VariationDischarge
      service: private law
    PLACEMENT:
      channel: default
      event: miscellaneous
      jurisdiction1: family
      jurisdiction2: family court
      keyword: Placement
      service: adoption
    SUPERVISION_ORDER:
      channel: default
      event: issue
      jurisdiction1: family
      jurisdiction2: family court
      keyword: CareOrder
      service: public law
    ESO_EXTENSION:
      channel: default
      event: miscellaneous
      jurisdiction1: family
      jurisdiction2: family court
      keyword: GHI
      service: private law
    CHILD_ARRANGEMENTS:
      channel: default
      event: miscellaneous
      jurisdiction1: family
      jurisdiction2: family court
      keyword: ExtSupervision
      service: private law
    WARRANT_OF_ASSISTANCE:
      channel: default
      event: miscellaneous
      jurisdiction1: family
      jurisdiction2: family court
      keyword: WarrantSearchChild
      service: private law
    RECOVERY_ORDER:
      channel: default
      event: miscellaneous
      jurisdiction1: family
      jurisdiction2: family court
      keyword: Recovery
      service: private law
    WARRANT_TO_ASSIST_PERSON:
      channel: default
      event: miscellaneous
      jurisdiction1: family
      jurisdiction2: family court
      keyword: HIJ
      service: private law
    CHILD_ASSESSMENT:
      channel: default
      event: miscellaneous
      jurisdiction1: family
      jurisdiction2: family court
      keyword: NOP
      service: private law
    CONTACT_WITH_CHILD_IN_CARE:
      channel: default
      event: miscellaneous
      jurisdiction1: family
      jurisdiction2: family court
      keyword: WXY
      service: private law
    CHANGE_SURNAME:
      channel: default
      event: miscellaneous
      jurisdiction1: family
      jurisdiction2: family court
      keyword: ZAB
      service: private law
    SECURE_ACCOMMODATION_ENGLAND:
      channel: default
      event: miscellaneous
      jurisdiction1: family
      jurisdiction2: family court
      keyword: SecureAccommEngland
      service: private law
    SPECIAL_GUARDIANSHIP:
      channel: default
      event: miscellaneous
      jurisdiction1: family
      jurisdiction2: family court
      keyword: FGH
      service: private law
    APPOINTMENT_OF_GUARDIAN:
      channel: default
      event: miscellaneous
      jurisdiction1: family
      jurisdiction2: family court
      keyword: UVW
      service: private law
    PARENTAL_RESPONSIBILITY_FATHER:
      channel: default
      event: miscellaneous
      jurisdiction1: family
      jurisdiction2: family court
      keyword: XYZ
      service: private law
    PARENTAL_RESPONSIBILITY_FEMALE_PARENT:
      channel: default
      event: miscellaneous
      jurisdiction1: family
      jurisdiction2: family court
      keyword: AABC
      service: private law
    SECURE_ACCOMMODATION_WALES:
      channel: default
      event: miscellaneous
      jurisdiction1: family
      jurisdiction2: family court
      keyword: SecureAccommWales
      service: private law
    DECLARATION_OF_PARENTAGE:
      channel: default
      event: issue
      jurisdiction1: family
      jurisdiction2: family court
      keyword: JKL
      service: other

payment:
  site_id: ABA3

ld:
  user_key: ${LD_USER_KEY:FPLA}
  sdk_key:

bankHolidays:
  api:
    url: "https://www.gov.uk"

scheduler:
  enabled: ${SCHEDULER_ENABLED:true}
  datasourceConf:
    name: schedulerDataSource
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://${SCHEDULER_DB_HOST:localhost}:${SCHEDULER_DB_PORT:5050}/${SCHEDULER_DB_NAME:fpl_scheduler}?gssEncMode=disable
    username: ${SCHEDULER_DB_USER:fpl_scheduler}
    password: ${SCHEDULER_DB_PASSWORD:fpl_scheduler}
  quartzConf:
    org.quartz:
      scheduler:
        instanceId: AUTO
      jobStore:
        isClustered: true
        class: org.quartz.impl.jdbcjobstore.JobStoreTX
        driverDelegateClass: org.quartz.impl.jdbcjobstore.PostgreSQLDelegate
        dataSource: schedulerDataSource
  schedulerConf:
    - name: 'Upcoming hearings'
      enabled: true
      cronGroup: "NIGHTLY_CRON"
      description: 'Finds upcoming hearings'
      jobClass: 'uk.gov.hmcts.reform.fpl.jobs.UpcomingHearingsFinder'
      cron: ${UPCOMING_HEARINGS_CRON:0 0 2 ? * * *}
    - name: 'Summary tab'
      enabled: true
      cronGroup: "NIGHTLY_CRON"
      description: 'Updates the summary tab'
      jobClass: 'uk.gov.hmcts.reform.fpl.jobs.UpdateSummaryCaseDetails'
      cron: ${UPDATE_SUMMARY_TAB_CRON:0 0 3 ? * * *} # might be a longer running job
    - name: 'Undelivered emails'
      enabled: true
      cronGroup: "NIGHTLY_CRON"
      description: 'Find undelivered emails'
      jobClass: 'uk.gov.hmcts.reform.fpl.jobs.UndeliveredEmailsFinder'
      cron: ${UPDATE_SUMMARY_TAB_CRON:0 0 8 ? * * *}

testing:
  support:
    enabled: ${TESTING_SUPPORT_ENABLED:false}

# Actual survey will be injected through flux for prod
survey:
  url:
    caseSubmission: 'https://www.smartsurvey.co.uk/s/preview/FamilyPublicLaw/44945E4F1F8CBEE3E10D79A4CED903'

resources:
  images:
    baseUrl: 'https://raw.githubusercontent.com/hmcts/fpl-ccd-configuration/master/resources/'

send-grid:
  host: smtp.sendgrid.net
  port: 587
