server:
  port: 4000

management:
  endpoints:
    web:
      base-path: /

spring:
  application:
    name: fpl-service

idam:
  s2s-auth:
    microservice: fpl_case_service

---

spring:
  profiles: integration-test

management:
  endpoints:
    enabled-by-default: false

idam:
  api:
    url: http://fake-idam-api
  s2s-auth:
    url: http://fake-service-auth-provider-api
    totp_secret: AABBCCDDEEFFGGHH

core_case_data:
  api:
    url: http://fake-ccd-data-store-api

document_management:
  url: http://fake-document-management-store-api

notify:
  api_key: testApiKey

ccd:
  ui:
    base:
      url: http://fake-url

fpl:
  local_authority_email_to_code:
    mapping: 'example.gov.uk=>example'
  local_authority_code_to_name:
    mapping: 'example=>Example Local Authority'
  local_authority_code_to_hmcts_court:
    mapping: 'example=>Family Court:admin@family-court.com'
  local_authority_code_to_cafcass:
    mapping: 'example=>cafcass:cafcass@cafcass.com'
  local_authority_user:
    mapping: 'example=>1,2,3'
