spring:
  security:
    enabled: true
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://fr-am:8080/openam/oauth2/hmcts
          jwk-set-uri: http://localhost:5000/o/jwks
  config:
    activate:
      on-profile: local

logging:
  level:
    uk:
      gov:
        hmcts:
          reform:
            fpl: debug

idam:
  api:
    url: http://localhost:5000
  s2s-auth:
    url: http://localhost:4502
    totp_secret: AABBCCDDEEFFGGHH
  client:
    id: fpl
    redirect_uri: https://localhost:9000/oauth2/callback
    secret: OOOOOOOOOOOOOOOO

auth:
  idam:
    client:
      baseUrl: http://localhost:5000
  provider:
    service:
      client:
        baseUrl: http://localhost:4502


core_case_data:
  api:
    url: http://localhost:4452

case-assignment:
  api:
    url: http://localhost:4454

docmosis:
  tornado:
    url: http://localhost:5433
    key: ACCESS_KEY

document_management:
  url: http://localhost:3453

gateway:
  url: http://localhost:3453

notify:
  api_key: fake-key

rd_professional:
  api:
    url: http://localhost:8765

fees-register:
  api:
    url: http://localhost:8765

send-letter:
  url: http://localhost:8765

payment:
  api:
    url: http://localhost:8765

manage-case:
  ui:
    base:
      url: http://localhost:3333

bankHolidays:
  api:
    url: http://localhost:8765

appinsights:
  instrumentationkey: fake-key

fpl:
  local_authority_email_to_code:
    mapping: 'fpla.local=>FPLA;swansea.gov.uk=>SA;swindon.gov.uk=>SW;'
  local_authority_code_to_name:
    mapping: 'SA=>Swansea City Council;HN=>London Borough Hillingdon;SW=>Swindon County Council;SNW=>Wiltshire County Council'
  local_authority_code_to_hmcts_court:
    mapping: 'SA=>Family Court sitting at Swansea:FamilyPublicLaw+sa@gmail.com:344;HN=>Family Court sitting at West London:FamilyPublicLaw+hn@gmail.com:332|Family Court sitting at East London:FamilyPublicLaw+hnx@gmail.com:333;SW=>Family Court sitting at Swindon:FamilyPublicLaw+sn@gmail.com:345;SNW=>Family Court sitting at Swindon:FamilyPublicLaw+sn@gmail.com:345'
  local_authority_code_to_cafcass:
    mapping: 'SA=>Cafcass Cymru:FamilyPublicLaw+cafcassWales@gmail.com;HN=>Cafcass:FamilyPublicLaw+cafcassEngland@gmail.com;SW=>Cafcass:FamilyPublicLaw+cafcassEngland@gmail.com;SNW=>Cafcass:FamilyPublicLaw+cafcassEngland@gmail.com'
  local_authority_code_to_shared_inbox:
    mapping: 'SA=>FamilyPublicLaw+sa@gmail.com;HN=>FamilyPublicLaw+hn@gmail.com;SW=>FamilyPublicLaw+sn@gmail.com;SNW=>FamilyPublicLaw+sn@gmail.com'
  local_authority_code_to_org_id:
    mapping: 'SA=>ORGSA;HN=>ORGHN;SW=>ORGSW;SNW=>ORGSNW'
  eps_to_local_authorities:
    mapping: 'ORGEXT=>SA|HN'
  mla_to_local_authorities:
    mapping: 'ORGSNW=>SA|SW'
  local_authority_fallback_inbox: 'FamilyPublicLaw+PublicLawEmail@gmail.com'
  system_update:
    username: 'fpl-system-update@mailnesia.com'
    password: 'Password12'
  ctsc_inbox: 'FamilyPublicLaw+ctsc@gmail.com'
  env: 'localhost'

robotics:
  notification:
    sender: sender@example.com
    recipient: FamilyPublicLaw+robotics@gmail.com

scheduler:
  enabled: false

testing:
  support:
    enabled: true

send-grid:
  host: 127.0.0.1
  port: 1025
  api_key: fake-key
