<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <style>
    body {
      font-family: sans-serif;
      font-size: 14px;
    }

    .badge {
      display: inline-block;
      border-radius: 5px;
      padding: 2px 5px;
      font-size: 16px;
      margin-bottom: 5px;
    }

    .badge--blue {
      background-color: #ddebf7;
      color: #78b1dc;
      border: 1px solid #78b1dc;
    }

    .heading {
      display: block;
    }

    .heading--one {
      font-size: 21px;
      font-weight: 800;
    }


    .heading--five {
      font-size: 20px;
    }

    .heading--constrain-50 {
      max-width: 60%;
    }

    .box {
      border: 1px solid #eee;
      border-width: 1px 0;
    }

    .box--grey {
      background-color: #fafafa;
    }

    .data-list__row {
      display: block;
      padding: 5px 0 10px 0;
      border-bottom: 1px solid #c1c2c4;
    }

    .data-list__row--no-border {
      border: none;
    }

    .data-list__row::after {
      content: "";
      clear: both;
      display: table;
    }

    .data-list__title,
    .data-list__definition {
      width: 50%;
      margin: 0;
    }

    .data-list__title {
      float: left;
      font-weight: bold;
    }

    .data-list__title--indent {
      text-indent: 10px;
    }

    .data-list__definition {
      float: right;
    }

    .u-block {
      display: block;
    }

    .u-margin-top-5 {
      margin-top: 5px;
    }

    .u-margin-bot-25 {
      margin-bottom: 25px;
    }

    .address-line:after {
      content: ',';
    }

  </style>
</head>
<body>
<header>
  <h1 class="heading heading--one u-margin-bot-25">
    <span class="badge badge--blue">C110A</span>
    <span class="heading heading--large heading--constrain-50">Application for a care or supervision order and other orders under Part 4 of the Children Act 1989 or an emergency protection order under section 44 of the Children Act 1989</span>
  </h1>
  <div class="box box--grey">
    <p class="heading heading--five u-margin-top-5">For court use</p>
      <dl class="data-list">
        <div class="data-list__row data-list__row--no-border">
          <dt class="data-list__title">The family court sitting at</dt>
          <dd class="data-list__definition"></dd>
        </div>
        <div class="data-list__row data-list__row--no-border">
          <dt class="data-list__title">Case number</dt>
          <dd class="data-list__definition">{{id}}</dd>
        </div>
        <div class="data-list__row data-list__row--no-border">
          <dt class="data-list__title">Date issued</dt>
          <dd class="data-list__definition"></dd>
        </div>
        <div class="data-list__row data-list__row--no-border">
          <dt class="data-list__title">Fee charged</dt>
          <dd class="data-list__definition"></dd>
        </div>
        <div class="data-list__row data-list__row--no-border">
          <dt class="data-list__title">Applicant</dt>
          <dd class="data-list__definition">
            {% if case_data.applicant != null and case_data.applicant.name != null %}
              {{case_data.applicant.name}}
            {% else %}
              -
            {% endif %}
          </dd>
        </div>
        <div class="data-list__row data-list__row--no-border">
          <dt class="data-list__title">Respondents</dt>
          <dd class="data-list__definition">
            {% if case_data.respondents != null %}
              {% if case_data.respondents.firstRespondent != null %}
                {{case_data.respondents.firstRespondent.name}}
              {% elseif case_data.respondents.firstRespondent == null and case_data.respondents.additional != null %}
                // No op
              {% else %}
                -
              {% endif %}
              {% if case_data.respondents.additional != null %}
                {% for additionalRespondent in case_data.respondents.additional %}
                  {% if additionalRespondent.value.name != null %}
                    {{additionalRespondent.value.name}}
                  {% endif %}
                {% endfor %}
              {% endif %}
            {% else %}
              -
            {% endif %}
          </dd>
        </div>
      </dl>
  </div>
</header>
<main>
  <h2>
    {% if case_data.applicant == null or case_data.applicant.name == null %}
      Application
    {% else %}
      Application from {{case_data.applicant.name}}
    {% endif %}
    submitted on todo
  </h2>
  <h3>Orders</h3>
  <dl class="data-list">
    <div class="data-list__row">
      <dt class="data-list__title">Orders needed</dt>
      <dd class="data-list__definition">
        {% if case_data.orders != null and case_data.orders.orderType != null %}
          {% for type in case_data.orders.orderType %}
            <span class="u-block">{{type}}</span>
          {% endfor %}
        {% else %}
          -
        {% endif %}
      </dd>
    </div>
    <div class="data-list__row">
      <dt class="data-list__title">Direction and interim orders</dt>
      <dd class="data-list__definition">
        {% if case_data.orders != null and case_data.orders.directionsAndInterim != null %}
          {{case_data.orders.directionsAndInterim}}
        {% else %}
          -
        {% endif %}
      </dd>
    </div>
  </dl>

  <h3>Hearing needed</h3>
  <dl class="data-list">
    <div class="data-list__row">
      <dt class="data-list__title">Hearing date requested</dt>
      <dd class="data-list__definition">
        {% if case_data.hearing != null and case_data.hearing.timeFrame != null %}
          <span class="u-block">{{case_data.hearing.timeFrame}}</span>
          {% if case_data.hearing.reason != null %}
            <span class="u-block">Reason: {{case_data.hearing.reason}}</span>
          {% endif %}
        {% else %}
          -
        {% endif %}
      </dd>
    </div>
    <div class="data-list__row">
      <dt class="data-list__title">Hearing type</dt>
      <dd class="data-list__definition">
        {% if case_data.hearing != null and case_data.hearing.type != null %}
          <span class="u-block">{{case_data.hearing.type}}</span>
          {% if case_data.hearing.type_GiveReason != null %}
            <span class="u-block">Reason: {{case_data.hearing.type_GiveReason}}</span>
          {% endif %}
        {% else %}
          -
        {% endif %}
      </dd>
    </div>
    <div class="data-list__row">
      <dt class="data-list__title">Without notice</dt>
      <dd class="data-list__definition">
        {% if case_data.hearing != null and case_data.hearing.withoutNotice != null %}
          <span class="u-block">{{case_data.hearing.withoutNotice}}</span>
          {% if case_data.hearing.withoutNoticeReason != null %}
            <span class="u-block">Reason: {{case_data.hearing.withoutNoticeReason}}</span>
          {% endif %}
        {% else %}
          -
        {% endif %}
      </dd>
    </div>
    <div class="data-list__row">
      <dt class="data-list__title">Reduced notice</dt>
      <dd class="data-list__definition">
        {% if case_data.hearing != null and case_data.hearing.reducedNotice != null %}
          <span class="u-block">{{case_data.hearing.reducedNotice}}</span>
          {% if case_data.hearing.reducedNoticeReason != null %}
            <span class="u-block">Reason: {{case_data.hearing.reducedNoticeReason}}</span>
          {% endif %}
        {% else %}
          -
        {% endif %}
      </dd>
    </div>
    <div class="data-list__row">
      <dt class="data-list__title">Respondents aware of proceedings</dt>
      <dd class="data-list__definition">
        {% if case_data.hearing != null and case_data.hearing.respondentsAware != null %}
          {{case_data.hearing.respondentsAware}}
        {% else %}
          -
        {% endif %}
      </dd>
    </div>
    <div class="data-list__row">
      <dt class="data-list__title">Respondents' view on proceedings</dt>
      <dd class="data-list__definition">
        {% if case_data.hearing != null and case_data.hearing.respondentsAwareReason != null %}
          {{case_data.hearing.respondentsAwareReason}}
        {% else %}
          -
        {% endif %}
      </dd>
    </div>
  </dl>

  <h3>Allocation proposal</h3>
  <dl class="data-list">
    <div class="data-list__row">
      <dt class="data-list__title">Proposal by applicant</dt>
      <dd class="data-list__definition">
        {% if case_data.allocationProposal != null and case_data.allocationProposal.proposal != null %}
          {{case_data.allocationProposal.proposal}}
        {% else %}
          -
        {% endif %}
      </dd>
    </div>
    <div class="data-list__row">
      <dt class="data-list__title">Reason</dt>
      <dd class="data-list__definition">
        {% if case_data.allocationProposal != null and case_data.allocationProposal.proposalReason != null %}
          {{case_data.allocationProposal.proposalReason}}
        {% else %}
          -
        {% endif %}
      </dd>
    </div>
  </dl>

  <h3>Child
    {% if case_data.children != null and
    case_data.children.additionalChildren != null %}
      1
    {% endif %}
  </h3>
  <dl class="data-list">
    <div class="data-list__row">
      <dt class="data-list__title">Name</dt>
      <dd class="data-list__definition">
        {% if case_data.children != null and
        case_data.children.firstChild != null and
        case_data.children.firstChild.childName != null %}
          {{case_data.children.firstChild.childName}}
        {% else %}
          -
        {% endif %}
      </dd>
    </div>
    <div class="data-list__row">
      <dt class="data-list__title">Age</dt>
      <dd class="data-list__definition">todo</dd>
    </div>
    <div class="data-list__row">
      <dt class="data-list__title">Date of birth</dt>
      <dd class="data-list__definition">
        {% if case_data.children != null and
        case_data.children.firstChild != null and
        case_data.children.firstChild.childDOB != null %}
          {{case_data.children.firstChild.childDOB}}
        {% else %}
          -
        {% endif %}
      </dd>
    </div>
    <div class="data-list__row">
      <dt class="data-list__title">Gender</dt>
      <dd class="data-list__definition">
        {% if case_data.children != null and
        case_data.children.firstChild != null and
        case_data.children.firstChild.childGender != null %}
          {{case_data.children.firstChild.childGender}}
        {% else %}
          -
        {% endif %}
      </dd>
    </div>
    <div class="data-list__row">
      <dt class="data-list__title">Child's living situation</dt>
      <dd class="data-list__definition">
        {% if case_data.children != null and
        case_data.children.firstChild != null and
        case_data.children.firstChild.livingSituation != null %}
          <span class="u-block">{{case_data.children.firstChild.livingSituation}}</span>
          {% if case_data.children.firstChild.address != null %}
            {% if case_data.children.firstChild.address.AddressLineOne != null %}
              <span class="address-line">{{case_data.children.firstChild.address.AddressLineOne}}</span>
            {% endif %}
            {% if case_data.children.firstChild.address.AddressLineTwo != null %}
              <span class="address-line">{{case_data.children.firstChild.address.AddressLineTwo}}</span>
            {% endif %}
            {% if case_data.children.firstChild.address.AddressLineThree != null %}
              <span class="address-line">{{case_data.children.firstChild.address.AddressLineThree}}</span>
            {% endif %}
            {% if case_data.children.firstChild.address.PostTown != null %}
              <span class="address-line">{{case_data.children.firstChild.address.PostTown}}</span>
            {% endif %}
            {% if case_data.children.firstChild.address.PostCode != null %}
              <span class="address-line">{{case_data.children.firstChild.address.PostCode}}</span>
            {% endif %}
            {% if case_data.children.firstChild.address.Country != null %}
              <span class="address-line">{{case_data.children.firstChild.address.Country}}</span>
            {% endif %}
          {% endif %}
          {% if case_data.children.firstChild.situationDate != null %}
            {% if case_data.children.firstChild.livingSituation == 'In hospital and soon to be discharged' %}
              <span class="u-block">Discharge date: {{case_data.children.firstChild.situationDate}}</span>
            {% elseif case_data.children.firstChild.livingSituation == 'Removed by Police, powers end soon' %}
              <span class="u-block">Date powers end: {{case_data.children.firstChild.situationDate}}</span>
            {% else %}
              <span class="u-block">Date this began: {{case_data.children.firstChild.situationDate}}</span>
            {% endif %}
          {% endif %}
        {% else %}
          -
        {% endif %}
      </dd>
    </div>
    <div class="data-list__row">
      <dt class="data-list__title">Key dates</dt>
      <dd class="data-list__definition">
        {% if case_data.children != null and
        case_data.children.firstChild != null and
        case_data.children.firstChild.keyDates != null %}
          {{case_data.children.firstChild.keyDates}}
        {% else %}
          -
        {% endif %}
      </dd>
    </div>
    <div class="data-list__row">
      <dt class="data-list__title">Considering adoption</dt>
      <dd class="data-list__definition">
        {% if case_data.children != null and
        case_data.children.firstChild != null and
        case_data.children.firstChild.adoption != null %}
          {{case_data.children.firstChild.adoption}}
        {% else %}
          -
        {% endif %}
      </dd>
    </div>
    {% if case_data.children != null
    and case_data.children.firstChild != null
    and case_data.children.firstChild.adoption == 'Yes' %}
      <div class="data-list__row">
        <dt class="data-list__title">Submitting application for a placement order</dt>
        <dd class="data-list__definition">
          {% if case_data.children.firstChild.placementOrderApplication != null %}
            {{case_data.children.firstChild.placementOrderApplication}}
          {% else %}
            -
          {% endif %}
        </dd>
      </div>
      {% if case_data.children.firstChild.placementOrderApplication != null and
      case_data.children.firstChild.placementOrderApplication == 'Yes' %}
        <div class="data-list__row">
          <dt class="data-list__title">Court applying for</dt>
          <dd class="data-list__definition">
            {% if case_data.children.firstChild.placementCourt != null %}
              {{case_data.children.firstChild.placementCourt}}
            {% else %}
              -
            {% endif %}
          </dd>
        </div>
      {% endif %}
    {% endif %}
    <div class="data-list__row">
      <dt class="data-list__title">Mother's full name</dt>
      <dd class="data-list__definition">
        {% if case_data.children != null and
        case_data.children.firstChild != null and
        case_data.children.firstChild.mothersName != null %}
          {{case_data.children.firstChild.mothersName}}
        {% else %}
          -
        {% endif %}
      </dd>
    </div>
    <div class="data-list__row">
      <dt class="data-list__title">Father's full name</dt>
      <dd class="data-list__definition">
        {% if case_data.children != null and
        case_data.children.firstChild != null and
        case_data.children.firstChild.fathersName != null %}
          {{case_data.children.firstChild.fathersName}}
        {% else %}
          -
        {% endif %}
      </dd>
    </div>
    <div class="data-list__row">
      <dt class="data-list__title">Father has parental responsibility</dt>
      <dd class="data-list__definition">
        {% if case_data.children != null and
        case_data.children.firstChild != null and
        case_data.children.firstChild.fathersResponsibility != null %}
          {{case_data.children.firstChild.fathersResponsibility}}
        {% else %}
          -
        {% endif %}
      </dd>
    </div>
    <div class="data-list__row">
      <dt class="data-list__title">Social worker's name</dt>
      <dd class="data-list__definition">
        {% if case_data.children != null and
        case_data.children.firstChild != null and
        case_data.children.firstChild.socialWorkerName != null %}
          {{case_data.children.firstChild.socialWorkerName}}
        {% else %}
          -
        {% endif %}
      </dd>
    </div>
    <div class="data-list__row">
      <dt class="data-list__title">Social worker's telephone number</dt>
      <dd class="data-list__definition">
        {% if case_data.children != null and
        case_data.children.firstChild != null and
        case_data.children.firstChild.socialWorkerTel != null %}
          {{case_data.children.firstChild.socialWorkerTel}}
        {% else %}
          -
        {% endif %}
      </dd>
    </div>
    <div class="data-list__row">
      <dt class="data-list__title">Additional needs</dt>
      <dd class="data-list__definition">
        {% if case_data.children != null and
        case_data.children.firstChild != null and
        case_data.children.firstChild.additionalNeeds != null %}
          <span class="u-block">{{case_data.children.firstChild.additionalNeeds}}</span>
          {% if case_data.children.firstChild.additionalNeedsDetails != null
          and case_data.children.firstChild.additionalNeeds != 'No' %}
            <span class="u-block">{{case_data.children.firstChild.additionalNeedsDetails}}</span>
          {% endif %}
        {% else %}
          -
        {% endif %}
      </dd>
    </div>
    <div class="data-list__row">
      <dt class="data-list__title">Confidential contact details</dt>
      <dd class="data-list__definition">
        {% if case_data.children != null and
        case_data.children.firstChild != null and
        case_data.children.firstChild.detailsHidden != null %}
          <span class="u-block">{{case_data.children.firstChild.detailsHidden}}</span>
        {% if case_data.children.firstChild.detailsHiddenReason != null
        and case_data.children.firstChild.detailsHidden != 'No' %}
          <span class="u-block">{{case_data.children.firstChild.detailsHiddenReason}}</span>
        {% endif %}
        {% else %}
          -
        {% endif %}
      </dd>
    </div>
  </dl>

  {% if case_data.children != null and
  case_data.children.additionalChildren != null %}
    {% if case_data.children != null and case_data.children.firstChild != null %}
      {% set counter = 2 %}
    {% else %}
      {% set counter = 1 %}
    {% endif %}

    {% for child in case_data.children.additionalChildren %}
      {% if child != null and child.value != null %}
        <h3>Child {{counter}}</h3>
        <dl class="data-list">
          <div class="data-list__row">
            <dt class="data-list__title">Name</dt>
            <dd class="data-list__definition">
              {% if child.value.childName != null %}
                {{child.value.childName}}
              {% else %}
                -
              {% endif %}
            </dd>
          </div>
          <div class="data-list__row">
            <dt class="data-list__title">Age</dt>
            <dd class="data-list__definition">todo</dd>
          </div>
          <div class="data-list__row">
            <dt class="data-list__title">Date of birth</dt>
            <dd class="data-list__definition">
              {% if child.value.childDOB != null %}
                {{child.value.childDOB}}
              {% else %}
                -
              {% endif %}
            </dd>
          </div>
          <div class="data-list__row">
            <dt class="data-list__title">Gender</dt>
            <dd class="data-list__definition">
              {% if child.value.childGender != null %}
                {{child.value.childGender}}
              {% else %}
                -
              {% endif %}
            </dd>
          </div>
          <div class="data-list__row">
            <dt class="data-list__title">Child's living situation</dt>
            <dd class="data-list__definition">
              {% if child.value.livingSituation != null %}
                <span class="u-block">{{child.value.livingSituation}}</span>
                {% if child.value.address != null %}
                  {% if child.value.address.AddressLine1 != null %}
                    <span class="address-line">{{child.value.address.AddressLine1}}</span>
                  {% endif %}
                  {% if child.value.address.AddressLine2 != null %}
                    <span class="address-line">{{child.value.address.AddressLine2}}</span>
                  {% endif %}
                  {% if child.value.address.AddressLine3 != null %}
                    <span class="address-line">{{child.value.address.AddressLine3}}</span>
                  {% endif %}
                  {% if child.value.address.PostTown != null %}
                    <span class="address-line">{{child.value.address.PostTown}}</span>
                  {% endif %}
                  {% if child.value.address.PostCode != null %}
                    <span class="address-line">{{child.value.address.PostCode}}</span>
                  {% endif %}
                  {% if child.value.address.Country != null %}
                    <span class="address-line">{{child.value.address.Country}}</span>
                  {% endif %}
                {% endif %}
                {% if child.value.situationDate != null %}
                  {% if child.value.livingSituation == 'In hospital and soon to be discharged' %}
                    <span class="u-block">Discharge date: {{child.value.situationDate}}</span>
                  {% elseif child.value.livingSituation == 'Removed by Police, powers end soon' %}
                    <span class="u-block">Date powers end: {{child.value.situationDate}}</span>
                  {% else %}
                    <span class="u-block">Date this began: {{child.value.situationDate}}</span>
                  {% endif %}
                {% endif %}
              {% else %}
                -
              {% endif %}
            </dd>
          </div>
          <div class="data-list__row">
            <dt class="data-list__title">Key dates</dt>
            <dd class="data-list__definition">
              {% if child.value.keyDates != null %}
                {{child.value.keyDates}}
              {% else %}
                -
              {% endif %}
            </dd>
          </div>
          <div class="data-list__row">
            <dt class="data-list__title">Considering adoption</dt>
            <dd class="data-list__definition">
              {% if child.value.adoption != null %}
                {{child.value.adoption}}
              {% else %}
                -
              {% endif %}
            </dd>
          </div>
          {% if child.value.adoption == 'Yes' %}
            <div class="data-list__row">
              <dt class="data-list__title">Submitting application for a placement order</dt>
              <dd class="data-list__definition">
                {% if child.value.placementOrderApplication != null %}
                  {{child.value.placementOrderApplication}}
                {% else %}
                  -
                {% endif %}
              </dd>
            </div>
            {% if child.value.placementOrderApplication != null and
            child.value.placementOrderApplication == 'Yes' %}
              <div class="data-list__row">
                <dt class="data-list__title">Court applying for</dt>
                <dd class="data-list__definition">
                  {% if child.value.placementCourt != null %}
                    {{child.value.placementCourt}}
                  {% else %}
                    -
                  {% endif %}
                </dd>
              </div>
            {% endif %}
          {% endif %}
          <div class="data-list__row">
            <dt class="data-list__title">Mother's full name</dt>
            <dd class="data-list__definition">
              {% if child.value.mothersName != null %}
                {{child.value.mothersName}}
              {% else %}
                -
              {% endif %}
            </dd>
          </div>
          <div class="data-list__row">
            <dt class="data-list__title">Father's full name</dt>
            <dd class="data-list__definition">
              {% if child.value.fathersName %}
                {{child.value.fathersName}}
              {% else %}
                -
              {% endif %}
            </dd>
          </div>
          <div class="data-list__row">
            <dt class="data-list__title">Father has parental responsibility</dt>
            <dd class="data-list__definition">
              {% if child.value.fathersResponsibility != null %}
                {{child.value.fathersResponsibility}}
              {% else %}
                -
              {% endif %}
            </dd>
          </div>
          <div class="data-list__row">
            <dt class="data-list__title">Social worker's name</dt>
            <dd class="data-list__definition">
              {% if child.value.socialWorkerName != null %}
                {{child.value.socialWorkerName}}
              {% else %}
                -
              {% endif %}
            </dd>
          </div>
          <div class="data-list__row">
            <dt class="data-list__title">Social worker's telephone number</dt>
            <dd class="data-list__definition">
              {% if child.value.socialWorkerTel != null %}
                {{child.value.socialWorkerTel}}
              {% else %}
                -
              {% endif %}
            </dd>
          </div>
          <div class="data-list__row">
            <dt class="data-list__title">Additional needs</dt>
            <dd class="data-list__definition">
              {% if child.value.additionalNeeds != null %}
                <span class="u-block">{{child.value.additionalNeeds}}</span>
                {% if child.value.additionalNeedsDetails != null
                and child.value.additionalNeeds != 'No' %}
                  <span class="u-block">{{child.value.additionalNeedsDetails}}</span>
                {% endif %}
              {% else %}
                -
              {% endif %}
            </dd>
          </div>
          <div class="data-list__row">
            <dt class="data-list__title">Confidential contact details</dt>
            <dd class="data-list__definition">
              {% if child.value.detailsHidden != null %}
                <span class="u-block">{{child.value.detailsHidden}}</span>
                {% if child.value.detailsHiddenReason != null
                and child.value.detailsHidden != 'No' %}
                  <span class="u-block">{{child.value.detailsHiddenReason}}</span>
                {% endif %}
              {% else %}
                -
              {% endif %}
            </dd>
          </div>
        </dl>
      {% endif %}
    {% set counter = counter + 1 %}
    {% endfor %}
  {% endif %}


  <h3>Respondent
    {% if case_data.respondents != null
    and case_data.respondents.additional != null %}
      1
    {% endif %}
  </h3>
  <dl class="data-list">
    <div class="data-list__row">
      <dt class="data-list__title">Name</dt>
      <dd class="data-list__definition">
        {% if case_data.respondents != null and
        case_data.respondents.firstRespondent != null and
        case_data.respondents.firstRespondent.name != null %}
          {{case_data.respondents.firstRespondent.name}}
        {% else %}
          -
        {% endif %}
      </dd>
    </div>
    <div class="data-list__row">
      <dt class="data-list__title">Age</dt>
      <dd class="data-list__definition">Todo</dd>
    </div>
    <div class="data-list__row">
      <dt class="data-list__title">Date of birth</dt>
      <dd class="data-list__definition">
        {% if case_data.respondents != null and
        case_data.respondents.firstRespondent != null and
        case_data.respondents.firstRespondent.dob != null %}
          {{case_data.respondents.firstRespondent.dob}}
        {% else %}
          -
        {% endif %}
      </dd>
    </div>
    <div class="data-list__row">
      <dt class="data-list__title">Gender</dt>
      <dd class="data-list__definition">
        {% if case_data.respondents != null and
        case_data.respondents.firstRespondent != null and
        case_data.respondents.firstRespondent.gender != null %}
          {{case_data.respondents.firstRespondent.gender}}
        {% else %}
          -
        {% endif %}
      </dd>
    </div>
    <div class="data-list__row">
      <dt class="data-list__title">Place of birth</dt>
      <dd class="data-list__definition">
        {% if case_data.respondents != null and
        case_data.respondents.firstRespondent != null and
        case_data.respondents.firstRespondent.placeOfBirth != null %}
          {{case_data.respondents.firstRespondent.placeOfBirth}}
        {% else %}
          -
        {% endif %}
      </dd>
    </div>
    <div class="data-list__row">
      <dt class="data-list__title">Address</dt>
      <dd class="data-list__definition">
        {% if case_data.respondents != null and
        case_data.respondents.firstRespondent != null and
        case_data.respondents.firstRespondent.address != null %}
          {% if case_data.respondents.firstRespondent.address.AddressLine1 != null %}
            <span class="address-line">{{case_data.respondents.firstRespondent.address.AddressLine1}}</span>
          {% endif %}
          {% if case_data.respondents.firstRespondent.address.AddressLine2 != null %}
            <span class="address-line">{{case_data.respondents.firstRespondent.address.AddressLine2}}</span>
          {% endif %}
          {% if case_data.respondents.firstRespondent.address.AddressLine3 != null %}
            <span class="address-line">{{case_data.respondents.firstRespondent.address.AddressLine3}}</span>
          {% endif %}
          {% if case_data.respondents.firstRespondent.address.PostTown != null %}
            <span class="address-line">{{case_data.respondents.firstRespondent.address.PostTown}}</span>
          {% endif %}
          {% if case_data.respondents.firstRespondent.address.County != null %}
            <span class="address-line">{{case_data.respondents.firstRespondent.address.County}}</span>
          {% endif %}
          {% if case_data.respondents.firstRespondent.address.PostCode != null %}
            <span class="address-line">{{case_data.respondents.firstRespondent.address.PostCode}}</span>
          {% endif %}
          {% if case_data.respondents.firstRespondent.address.Country != null %}
            <span class="address-line">{{case_data.respondents.firstRespondent.address.Country}}</span>
          {% endif %}
        {% else %}
          -
        {% endif %}
      </dd>
    </div>
    <div class="data-list__row">
      <dt class="data-list__title">Telephone number</dt>
      <dd class="data-list__definition">
        {% if case_data.respondents != null and
        case_data.respondents.firstRespondent != null and
        case_data.respondents.firstRespondent.telephone != null %}
          {{case_data.respondents.firstRespondent.telephone}}
        {% else %}
          -
        {% endif %}
      </dd>
    </div>
    <div class="data-list__row">
      <dt class="data-list__title">Relationship to the child or children</dt>
      <dd class="data-list__definition">
        {% if case_data.respondents != null and
        case_data.respondents.firstRespondent != null and
        case_data.respondents.firstRespondent.relationshipToChild != null %}
          {{case_data.respondents.firstRespondent.relationshipToChild}}
        {% else %}
          -
        {% endif %}
      </dd>
    </div>
    <div class="data-list__row">
      <dt class="data-list__title">Litigation capacity issues</dt>
      <dd class="data-list__definition">
        {% if case_data.respondents != null and
        case_data.respondents.firstRespondent != null and
        case_data.respondents.firstRespondent.litigationIssues != null %}
          <span class="u-block">{{case_data.respondents.firstRespondent.litigationIssues}}</span>
        {% if case_data.respondents.firstRespondent.litigationIssuesReason != null %}
          <span class="u-block">{{case_data.respondents.firstRespondent.litigationIssuesReason}}</span>
        {% endif %}
        {% else %}
          -
        {% endif %}
      </dd>
    </div>
    <div class="data-list__row">
      <dt class="data-list__title">Confidential contact details</dt>
      <dd class="data-list__definition">
        {% if case_data.respondents != null and
        case_data.respondents.firstRespondent != null and
        case_data.respondents.firstRespondent.contactDetailsHidden != null %}
          <span class="u-block">{{case_data.respondents.firstRespondent.contactDetailsHidden}}</span>
          {% if case_data.respondents.firstRespondent.contactDetailsHiddenReason != null %}
            <span class="u-block">{{case_data.respondents.firstRespondent.contactDetailsHiddenReason}}</span>
          {% endif %}
        {% else %}
          -
        {% endif %}
      </dd>
    </div>
  </dl>

  {% if case_data.respondents != null and
  case_data.respondents.additional != null %}
    {% if case_data.respondents != null and case_data.respondents.firstRespondent != null %}
      {% set counter = 2 %}
    {% else %}
      {% set counter = 1 %}
    {% endif %}

    {% for respondent in case_data.respondents.additional %}
      {% if respondent != null and respondent.value != null %}
      <h3>Respondent {{counter}}</h3>
      <dl class="data-list">
        <div class="data-list__row">
          <dt class="data-list__title">Name</dt>
          <dd class="data-list__definition">
          {% if respondent.value.name != null %}
            {{respondent.value.name}}
          {% else %}
            -
          {% endif %}
          </dd>
        </div>
        <div class="data-list__row">
          <dt class="data-list__title">Age</dt>
          <dd class="data-list__definition">Todo</dd>
        </div>
        <div class="data-list__row">
          <dt class="data-list__title">Date of birth</dt>
          <dd class="data-list__definition">
            {% if respondent.value.dob != null %}
              {{respondent.value.dob}}
            {% else %}
              -
            {% endif %}
          </dd>
        </div>
        <div class="data-list__row">
          <dt class="data-list__title">Gender</dt>
          <dd class="data-list__definition">
            {% if respondent.value.gender != null %}
              {{respondent.value.gender}}
            {% else %}
              -
            {% endif %}
          </dd>
        </div>
        <div class="data-list__row">
          <dt class="data-list__title">Place of birth</dt>
          <dd class="data-list__definition">
            {% if respondent.value.placeOfBirth != null %}
              {{respondent.value.placeOfBirth}}
            {% else %}
              -
            {% endif %}
          </dd>
        </div>
        <div class="data-list__row">
          <dt class="data-list__title">Address</dt>
          <dd class="data-list__definition">
            {% if respondent.value.address != null %}
              {% if respondent.value.address.AddressLine1 != null %}
                <span class="address-line">{{respondent.value.address.AddressLine1}}</span>
              {% endif %}
              {% if respondent.value.address.AddressLine2 != null %}
                <span class="address-line">{{respondent.value.address.AddressLine2}}</span>
              {% endif %}
              {% if respondent.value.address.AddressLine3 != null %}
                <span class="address-line">{{respondent.value.address.AddressLine3}}</span>
              {% endif %}
              {% if respondent.value.address.PostTown != null %}
                <span class="address-line">{{respondent.value.address.PostTown}}</span>
              {% endif %}
              {% if respondent.value.address.County != null %}
                <span class="address-line">{{respondent.value.address.County}}</span>
              {% endif %}
              {% if respondent.value.address != null %}
                <span class="address-line">{{respondent.value.address.PostCode}}</span>
              {% endif %}
              {% if respondent.value.address.Country != null %}
                <span class="address-line">{{respondent.value.address.Country}}</span>
              {% endif %}
            {% else %}
              -
            {% endif %}
          </dd>
        </div>
        <div class="data-list__row">
          <dt class="data-list__title">Telephone number</dt>
          <dd class="data-list__definition">
            {% if respondent.value.telephone != null %}
              {{respondent.value.telephone}}
            {% else %}
              -
            {% endif %}
          </dd>
        </div>
        <div class="data-list__row">
          <dt class="data-list__title">Relationship to the child or children</dt>
          <dd class="data-list__definition">
            {% if respondent.value.relationshipToChild != null %}
              {{respondent.value.relationshipToChild}}
            {% else %}
              -
            {% endif %}
          </dd>
        </div>
        <div class="data-list__row">
          <dt class="data-list__title">Litigation capacity issues</dt>
          <dd class="data-list__definition">
            {% if respondent.value.litigationIssues != null %}
              <span class="u-block">{{respondent.value.litigationIssues}}</span>
              {% if respondent.value.litigationIssuesReason != null %}
                <span class="u-block">{{respondent.value.litigationIssuesReason}}</span>
              {% endif %}
            {% else %}
              -
            {% endif %}
          </dd>
        </div>
      </dl>
      {% endif %}
    {% set counter = counter + 1 %}
    {% endfor %}
  {% endif %}

  <h3>Applicant</h3>
  <dl class="data-list">
    <div class="data-list__row">
      <dt class="data-list__title">Name</dt>
      <dd class="data-list__definition">
        {% if case_data.applicant != null and
        case_data.applicant.name != null %}
          {{case_data.applicant.name}}
        {% else %}
          -
        {% endif %}
      </dd>
    </div>
    <div class="data-list__row">
      <dt class="data-list__title">Contact name</dt>
      <dd class="data-list__definition">
        {% if case_data.applicant != null and
        case_data.applicant.personToContact != null %}
          {{case_data.applicant.personToContact}}
        {% else %}
          -
        {% endif %}
      </dd>
    </div>
    <div class="data-list__row">
      <dt class="data-list__title">Job title</dt>
      <dd class="data-list__definition">
        {% if case_data.applicant != null and
        case_data.applicant.jobTitle != null %}
          {{case_data.applicant.jobTitle}}
        {% else %}
          -
        {% endif %}
      </dd>
    </div>
    <div class="data-list__row">
      <dt class="data-list__title">Address</dt>
      <dd class="data-list__definition">
        {% if case_data.applicant != null and
          case_data.applicant.address != null  %}
          {% if case_data.applicant.address.AddressLine1 != null %}
            <span class="address-line">{{case_data.applicant.address.AddressLine1}}</span>
          {% endif %}
          {% if case_data.applicant.address.AddressLine2 != null %}
            <span class="address-line">{{case_data.applicant.address.AddressLine2}}</span>
          {% endif %}
          {% if case_data.applicant.address.AddressLine3 != null %}
            <span class="address-line">{{case_data.applicant.address.AddressLine3}}</span>
          {% endif %}
          {% if case_data.applicant.address.PostTown != null %}
            <span class="address-line">{{case_data.applicant.address.PostTown}}</span>
          {% endif %}
          {% if case_data.applicant.address.County != null %}
            <span class="address-line">{{case_data.applicant.address.County}}</span>
          {% endif %}
          {% if case_data.applicant.address.PostCode != null %}
            <span class="address-line">{{case_data.applicant.address.PostCode}}</span>
          {% endif %}
          {% if case_data.applicant.address.Country != null %}
            <span class="address-line">{{case_data.applicant.address.Country}}</span>
          {% endif %}
        {% else %}
          -
        {% endif %}
      </dd>
    </div>
    <div class="data-list__row">
      <dt class="data-list__title">Mobile number</dt>
      <dd class="data-list__definition">
        {% if case_data.applicant != null and
        case_data.applicant.mobile != null %}
          {{case_data.applicant.mobile}}
        {% else %}
         -
        {% endif %}
      </dd>
    </div>
    <div class="data-list__row">
      <dt class="data-list__title">Telephone number</dt>
      <dd class="data-list__definition">{{case_data.applicant.telephone}}
        {% if case_data.applicant != null and
        case_data.applicant.telephone != null %}
          {{case_data.applicant.telephone}}
        {% else %}
          -
        {% endif %}
      </dd>
    </div>
    <div class="data-list__row">
      <dt class="data-list__title">Email address</dt>
      <dd class="data-list__definition">
        {% if case_data.applicant != null and
        case_data.applicant.email != null %}
          {{case_data.applicant.email}}
        {% else %}
          -
        {% endif %}
      </dd>
    </div>
    <div class="data-list__row">
      <dt class="data-list__title">Solicitor's Name</dt>
      <dd class="data-list__definition">
        {% if case_data.solicitor != null and
        case_data.solicitor.name != null %}
          {{case_data.solicitor.name}}
        {% else %}
          -
        {% endif %}
      </dd>
    </div>
    <div class="data-list__row">
      <dt class="data-list__title">Solicitor's mobile number</dt>
      <dd class="data-list__definition">{{case_data.solicitor.mobile}}
        {% if case_data.solicitor != null and
        case_data.solicitor.mobile != null %}
          {{case_data.solicitor.mobile}}
        {% else %}
          -
        {% endif %}
      </dd>
    </div>
    <div class="data-list__row">
      <dt class="data-list__title">Solicitor's telephone number</dt>
      <dd class="data-list__definition">
        {% if case_data.solicitor != null and
        case_data.solicitor.telephone != null %}
          {{case_data.solicitor.telephone}}
        {% else %}
          -
        {% endif %}
      </dd>
    </div>
    <div class="data-list__row">
      <dt class="data-list__title">Solicitor's email address</dt>
      <dd class="data-list__definition">
        {% if case_data.solicitor != null and
        case_data.solicitor.email != null %}
          {{case_data.solicitor.email}}
        {% else %}
          -
        {% endif %}
      </dd>
    </div>
    <div class="data-list__row">
      <dt class="data-list__title">Solicitor's DX Number</dt>
      <dd class="data-list__definition">
        {% if case_data.solicitor != null and
        case_data.solicitor.dx != null %}
          {{case_data.solicitor.dx}}
        {% else %}
          -
        {% endif %}
      </dd>
    </div>
    <div class="data-list__row">
      <dt class="data-list__title">Solicitor's reference</dt>
      <dd class="data-list__definition">
        {% if case_data.solicitor != null and
        case_data.solicitor.reference != null %}
          {{case_data.solicitor.reference}}
        {% else %}
          -
        {% endif %}
      </dd>
    </div>
  </dl>

  <h3>Grounds for the application</h3>
  <dl class="data-list">
    <div class="data-list__row">
      <dt class="data-list__title">Threshold is met as the child is suffering or is likely to suffer significant harm because they are</dt>
      <dd class="data-list__definition">
        {% if case_data.grounds != null and case_data.grounds.thresholdReason != null %}
          {% for reason in case_data.grounds.thresholdReason %}
            <span class="u-block">{{reason}}</span>
          {% endfor %}
        {% else %}
          -
        {% endif %}
      </dd>
    </div>
  </dl>

  <h3>Threshold evidence</h3>
  <p>
    {% if case_data.grounds != null and
    case_data.grounds.thresholdDetails != null %}
      {{case_data.grounds.thresholdDetails}}
    {% else %}
      -
    {% endif %}
  </p>

  <h3>Risk and harm to children</h3>
  <dl class="data-list">
    <div class="data-list__row">
      <dt class="data-list__title">Physical harm including non-accidental injury</dt>
      <dd class="data-list__definition">
        {% if case_data.risks != null
        and case_data.risks.physicalHarm != null %}
          {% if case_data.risks.physicalHarm == 'Yes' %}
            Yes
            {% if case_data.risks.physicalHarmOccurrences != null %}
              {% for occurence in case_data.risks.physicalHarmOccurrences %}
                <span class="u-block">{{occurence}}</span>
              {% endfor %}
            {% endif %}
          {% else %}
            No
          {% endif %}
        {% else %}
          -
        {% endif %}
      </dd>
    </div>
    <div class="data-list__row">
      <dt class="data-list__title">Emotional harm</dt>
      <dd class="data-list__definition">
        {% if case_data.risks != null
        and case_data.risks.emotionalHarm != null %}
          {% if case_data.risks.emotionalHarm == 'Yes' %}
          Yes
            {% if case_data.risks.emotionalHarmOccurrences != null %}
            {% for occurence in case_data.risks.emotionalHarmOccurrences %}
              <span class="u-block">{{occurence}}</span>
            {% endfor %}
          {% endif %}
          {% else %}
            No
          {% endif %}
        {% else %}
          -
        {% endif %}
      </dd>
    </div>
    <div class="data-list__row">
      <dt class="data-list__title">Sexual abuse</dt>
      <dd class="data-list__definition">
        {% if case_data.risks != null
        and case_data.risks.sexualAbuse != null %}
          {% if case_data.risks.sexualAbuse == 'Yes' %}
          Yes
            {% if case_data.risks.sexualAbuseOccurrences != null %}
              {% for occurence in case_data.risks.sexualAbuseOccurrences %}
                <span class="u-block">{{occurence}}</span>
              {% endfor %}
            {% endif %}
            {% else %}
            No
          {% endif %}
        {% else %}
          -
        {% endif %}
      </dd>
    </div>
    <div class="data-list__row">
      <dt class="data-list__title">Neglect</dt>
      <dd class="data-list__definition">
        {% if case_data.risks != null
        and case_data.risks.neglect != null %}
          {% if case_data.risks.neglect == 'Yes' %}
            Yes
            {% if case_data.risks.neglectOccurrences != null %}
            {% for occurence in case_data.risks.neglectOccurrences %}
            <span class="u-block">{{occurence}}</span>
            {% endfor %}
          {% endif %}
          {% else %}
            No
          {% endif %}
          {% else %}
          -
        {% endif %}
      </dd>
    </div>
  </dl>

  <h3>Factors affecting parenting</h3>
  <dl class="data-list">
    <div class="data-list__row">
      <dt class="data-list__title">Alcohol and drugs</dt>
      <dd class="data-list__definition">
        {% if case_data.factorsParenting != null
        and case_data.factorsParenting.alcoholDrugAbuse != null %}
          <span class="u-block">{{case_data.factorsParenting.alcoholDrugAbuse}}</span>
          {% if case_data.factorsParenting.alcoholDrugAbuse == 'Yes'
          and case_data.factorsParenting.alcoholDrugAbuseReason != null %}
            <span class="u-block">{{case_data.factorsParenting.alcoholDrugAbuseReason}}</span>
          {% endif %}
        {% else %}
          -
        {% endif %}
      </dd>
    </div>
    <div class="data-list__row">
      <dt class="data-list__title">Domestic violence</dt>
      <dd class="data-list__definition">
        {% if case_data.factorsParenting != null
          and case_data.factorsParenting.domesticViolence != null %}
          <span class="u-block">{{case_data.factorsParenting.domesticViolence}}</span>
          {% if case_data.factorsParenting.domesticViolence == 'Yes'
            and case_data.factorsParenting.domesticViolenceReason != null %}
              <span class="u-block">{{case_data.factorsParenting.domesticViolenceReason}}</span>
          {% endif %}
        {% else %}
          -
        {% endif %}
      </dd>
    </div>
    <div class="data-list__row">
      <dt class="data-list__title">Anything else</dt>
      <dd class="data-list__definition">
        {% if case_data.factorsParenting != null
          and case_data.factorsParenting.anythingElse != null %}
          <span class="u-block">{{case_data.factorsParenting.anythingElse}}</span>
          {% if case_data.factorsParenting.anythingElse == 'Yes'
          and case_data.factorsParenting.anythingElseReason != null %}
            <span class="u-block">{{case_data.factorsParenting.anythingElseReason}}</span>
          {% endif %}
        {% else %}
          -
        {% endif %}
      </dd>
    </div>
  </dl>

  <h3>International element</h3>
  <dl class="data-list">
    <div class="data-list__row">
      <dt class="data-list__title">Suitable carer outside the UK</dt>
      <dd class="data-list__definition">
        {% if case_data.internationalElement != null
        and case_data.internationalElement.possibleCarer != null %}
          <span class="u-block">{{case_data.internationalElement.possibleCarer}}</span>
          {% if case_data.internationalElement.possibleCarer == 'Yes'
          and case_data.internationalElement.possibleCarerReason != null %}
            <span class="u-block">{{case_data.internationalElement.possibleCarerReason}}</span>
          {% endif %}
        {% else %}
          -
        {% endif %}
      </dd>
    </div>
    <div class="data-list__row">
      <dt class="data-list__title">Significant events outside the UK</dt>
      <dd class="data-list__definition">
        {% if case_data.internationalElement != null
          and case_data.internationalElement.significantEvents != null %}
          <span class="u-block">{{case_data.internationalElement.significantEvents}}</span>
          {% if case_data.internationalElement.significantEvents == 'Yes'
          and case_data.internationalElement.significantEventsReason != null %}
            <span class="u-block">{{case_data.internationalElement.significantEventsReason}}</span>
          {% endif %}
        {% else %}
          -
        {% endif %}
      </dd>
    </div>
    <div class="data-list__row">
      <dt class="data-list__title">Issues with jurisdiction</dt>
      <dd class="data-list__definition">
        {% if case_data.internationalElement != null
        and case_data.internationalElement.issues != null %}
          <span class="u-block">{{case_data.internationalElement.issues}}</span>
          {% if case_data.internationalElement.issues == 'Yes'
          and case_data.internationalElement.issuesReason != null %}
          <span class="u-block">{{case_data.internationalElement.issuesReason}}</span>
          {% endif %}
        {% else %}
          -
        {% endif %}
      </dd>
    </div>
    <div class="data-list__row">
      <dt class="data-list__title">Proceedings outside the UK</dt>
      <dd class="data-list__definition">
        {% if case_data.internationalElement != null
        and case_data.internationalElement.proceedings != null %}
          <span class="u-block">{{case_data.internationalElement.proceedings}}</span>
          {% if case_data.internationalElement.proceedings == 'Yes'
          and case_data.internationalElement.proceedingsReason != null %}
            <span class="u-block">{{case_data.internationalElement.proceedingsReason}}</span>
          {% endif %}
          {% else %}
          -
        {% endif %}
      </dd>
    </div>
    <div class="data-list__row">
      <dt class="data-list__title">Government or central authority in another country been involved</dt>
      <dd class="data-list__definition">
        <span class="u-block">Todo</span>
      </dd>
    </div>
    <div class="data-list__row">
      <dt class="data-list__title">Other proceedings</dt>
      <dd class="data-list__definition">
        <span class="u-block">Todo</span>
      </dd>
    </div>
  </dl>

  {% if case_data.proceeding != null and case_data.proceeding.onGoingProceeding != null and
  case_data.proceeding.onGoingProceeding == "Yes" %}
    <h3>Other proceedings</h3>
    <dl class="data-list">
      <div class="data-list__row">
        <dt class="data-list__title">Ongoing or previous proceedings</dt>
        <dd class="data-list__definition">
          {% if case_data.proceeding.onGoingProceeding != null %}
            {{case_data.proceeding.onGoingProceeding}}
          {% else %}
            -
          {% endif %}
        </dd>
      </div>
      <div class="data-list__row data-list__row--no-border">
        <dt class="data-list__title data-list__title--indent">Case number</dt>
        <dd class="data-list__definition">
          {% if case_data.proceeding.caseNumber != null %}
            {{case_data.proceeding.caseNumber}}
          {% else %}
            -
          {% endif %}
        </dd>
      </div>
      <div class="data-list__row data-list__row--no-border">
        <dt class="data-list__title data-list__title--indent">Started</dt>
        <dd class="data-list__definition">
          {% if case_data.proceeding.started != null %}
            {{case_data.proceeding.started}}
          {% else %}
            -
          {% endif %}
        </dd>
      </div>
      <div class="data-list__row data-list__row--no-border">
        <dt class="data-list__title data-list__title--indent">Ended</dt>
        <dd class="data-list__definition">
          {% if case_data.proceeding.ended != null %}
            {{case_data.proceeding.ended}}
          {% else %}
            -
          {% endif %}
        </dd>
      </div>
      <div class="data-list__row data-list__row--no-border">
        <dt class="data-list__title data-list__title--indent">Orders made</dt>
        <dd class="data-list__definition">
          {% if case_data.proceeding.ordersMade != null %}
            {{case_data.proceeding.ordersMade}}
          {% else %}
            -
          {% endif %}
        </dd>
      </div>
      <div class="data-list__row data-list__row--no-border">
        <dt class="data-list__title data-list__title--indent">Judge</dt>
        <dd class="data-list__definition">
          {% if case_data.proceeding.judge != null %}
            {{case_data.proceeding.judge}}
          {% else %}
            -
          {% endif %}
        </dd>
      </div>
      <div class="data-list__row data-list__row--no-border">
        <dt class="data-list__title data-list__title--indent">Guardian</dt>
        <dd class="data-list__definition">
          {% if case_data.proceeding.guardian != null %}
            {{case_data.proceeding.guardian}}
          {% else %}
            -
          {% endif %}
        </dd>
      </div>
      <div class="data-list__row data-list__row--no-border">
        <dt class="data-list__title data-list__title--indent">Same guardian needed</dt>
        <dd class="data-list__definition">
          {% if case_data.proceeding.sameGuardianNeeded != null %}
            <span class="u-block">{{case_data.proceeding.sameGuardianNeeded}}</span>
            {% if case_data.proceeding.sameGuardianNeeded == "Yes" and case_data.proceeding.sameGuardianDetails != null %}
              <span class="u-block">{{case_data.proceeding.sameGuardianDetails}}</span>
          {% endif %}
          {% else %}
            -
          {% endif %}
        </dd>
      </div>
    </dl>
  {% endif %}

  <h3>Annex Documents (todo)</h3>
  <dl class="data-list">
    <div class="data-list__row">
      <dt class="data-list__title">Social work chronology</dt>
      <dd class="data-list__definition">
      </dd>
    </div>
    <div class="data-list__row">
      <dt class="data-list__title">Social work statement and genogram</dt>
      <dd class="data-list__definition"></dd>
    </div>
    <div class="data-list__row">
      <dt class="data-list__title">Social work assessment</dt>
      <dd class="data-list__definition"></dd>
    </div>
    <div class="data-list__row">
      <dt class="data-list__title">Care plan</dt>
      <dd class="data-list__definition"></dd>
    </div>
  </dl>
</main>
</body>
</html>
