name: fpl-case-service
apiVersion: v1
home: https://github.com/hmcts/fpl-ccd-configuration
version: 1.5.0
description: FPL Case Service
maintainers:
  - name: HMCTS Family Public Law team
    email: fpl-developers@HMCTS.NET
