name: fpl-case-service
apiVersion: v2
home: https://github.com/hmcts/fpl-ccd-configuration
version: 1.12.19
description: FPL Case Service
maintainers:
  - name: HMCTS Family Public Law team
    email: fpl-developers@HMCTS.NET
dependencies:
  - name: java
    version: 3.4.7
    repository: '@hmctspublic'
  - name: ccd
    version: 5.0.2
    repository: '@hmctspublic'
    tags:
      - fpl-ccd-stack
  - name: xui-webapp
    version: ~0.2.1
    repository: '@hmctspublic'
    condition: xui-webapp.enabled
  - name: idam-pr
    version: 2.2.6
    repository: '@hmctspublic'
    condition: idam-pr.enabled
  - name: aac-manage-case-assignment
    version: ~0.1.6
    repository: '@hmctspublic'
    condition: aac-manage-case-assignment.enabled
