name: fpl-case-service
apiVersion: v2
home: https://github.com/hmcts/fpl-ccd-configuration
version: 1.12.76
description: FPL Case Service
maintainers:
  - name: HMCTS Family Public Law team
    email: fpl-developers@HMCTS.NET
dependencies:
  - name: java
    version: 5.0.0
    repository: 'https://hmctspublic.azurecr.io/helm/v1/repo/'
  - name: ccd
    version: 8.0.29
    repository: 'https://hmctspublic.azurecr.io/helm/v1/repo/'
    tags:
      - fpl-ccd-stack
  - name: xui-webapp
    version: ~1.0.12
    repository: 'https://hmctspublic.azurecr.io/helm/v1/repo/'
    condition: xui-webapp.enabled
  - name: xui-mo-webapp
    version: ~1.1.0
    repository: 'https://hmctspublic.azurecr.io/helm/v1/repo/'
    condition: xui-mo-webapp.enabled
  - name: idam-pr
    version: 2.3.0
    repository: 'https://hmctspublic.azurecr.io/helm/v1/repo/'
    condition: idam-pr.enabled
  - name: aac-manage-case-assignment
    version: ~0.2.9
    repository: 'https://hmctspublic.azurecr.io/helm/v1/repo/'
    condition: aac-manage-case-assignment.enabled
  - name: ccd-case-document-am-api
    version: 1.7.14
    repository: 'https://hmctspublic.azurecr.io/helm/v1/repo/'
    condition: ccd-case-document-am-api.enabled
