name: fpl-case-service
apiVersion: v2
home: https://github.com/hmcts/fpl-ccd-configuration
version: 1.12.42
description: FPL Case Service
maintainers:
  - name: HMCTS Family Public Law team
    email: fpl-developers@HMCTS.NET
dependencies:
  - name: java
    version: 4.0.1
    repository: '@hmctspublic'
  - name: ccd
    version: 6.0.0
    repository: '@hmctspublic'
    tags:
      - fpl-ccd-stack
  - name: xui-webapp
    version: ~0.2.32
    repository: '@hmctspublic'
    condition: xui-webapp.enabled
  - name: idam-pr
    version: 2.2.6
    repository: '@hmctspublic'
    condition: idam-pr.enabled
  - name: aac-manage-case-assignment
    version: ~0.1.6
    repository: '@hmctspublic'
    condition: aac-manage-case-assignment.enabled
  - name: ccd-case-document-am-api
    version: 1.7.3
    repository: 'https://hmctspublic.azurecr.io/helm/v1/repo/'
    condition: ccd-case-document-am-api.enabled
