tags:
  fpl-ccd-stack: true

java:
  image: ${IMAGE_NAME}
  ingressHost: ${SERVICE_FQDN}
  livenessDelay: 50
  autoscaling:
    enabled: false
    minReplicas: 1
    maxReplicas: 1
  environment:
    FPL_ENV: preview
    CORE_CASE_DATA_API_URL: http://${SERVICE_NAME}-ccd-data-store-api
    CASE_ASSIGNMENT_API_URL: http://${SERVICE_NAME}-aac
    IDAM_CLIENT_REDIRECT_URI: https://fpl-case-service-*.service.core-compute-aat.internal/oauth2/callback
    SPRING_SECURITY_ENABLED: true
    SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_JWKSETURI: https://idam-api.aat.platform.hmcts.net/o/jwks
    CCD_UI_BASE_URL: https://case-management-web-${SERVICE_FQDN}
    MANAGE_CASE_UI_BASE_URL: https://xui-${SERVICE_FQDN}
    CASE_DOCUMENT_AM_URL: http://${SERVICE_NAME}-cdam
    LD_USER_KEY: FPLA_PREVIEW
    SCHEDULER_ENABLED: false
    TESTING_SUPPORT_ENABLED: true
    ESO_EXTENSION: EduSupervisionChange
    WARRANT_TO_ASSIST_PERSON_KEYWORD: WarrantEPO
    CHILD_ASSESSMENT_KEYWORD: ChildAssess
    CONTACT_WITH_CHILD_IN_CARE_KEYWORD: ContactChild
    CHANGE_SURNAME_KEYWORD: CareChildChange
    SPECIAL_GUARDIANSHIP_KEYWORD: SpecialGuardian
    APPOINTMENT_OF_GUARDIAN_KEYWORD: Guardians
    PARENTAL_RESPONSIBILITY_FATHER_KEYWORD: ParentalResponsibChg
    PARENTAL_RESPONSIBILITY_FEMALE_KEYWORD: ParentalResponsibility
    DECLARATION_OF_PARENTAGE: Private
    RD_STAFF_API_ENABLED: true
    RD_JUDICIAL_API_ENABLED: true

idam-pr:
  releaseNameOverride: ${SERVICE_NAME}-xui-idam-pr
  enabled: true
  redirect_uris:
    XUI:
      - https://xui-${SERVICE_FQDN}/oauth2/callback
    XUIMO:
      - https://xui-mo-${SERVICE_FQDN}/oauth2/callback

xui-webapp:
  enabled: true
  redis:
    enabled: false
    architecture: replication
  nodejs:
    imagePullPolicy: Always
    replicas: 1
    releaseNameOverride: ${SERVICE_NAME}-xui-webapp
    image: hmctspublic.azurecr.io/xui/webapp:latest
    ingressHost: xui-${SERVICE_FQDN}
    devcpuRequests: 500m
    devmemoryRequests: 1Gi
    devcpuLimits: 1
    devmemoryLimits: 4Gi
    readinessPeriod: 5
    livenessPeriod: 3
    livenessDelay: 10
    livenessFailureThreshold: 2
    environment:
      HEALTH_CCD_COMPONENT_API: http://${SERVICE_NAME}-ccd-api-gw/health
      HEALTH_CCD_DATA_API: http://${SERVICE_NAME}-ccd-data-store-api/health
      HEALTH_TERMS_AND_CONDITIONS_API: https://xui-terms-and-conditions-${SERVICE_FQDN}
      SERVICES_CCD_COMPONENT_API: http://${SERVICE_NAME}-ccd-api-gw
      SERVICES_CCD_DATA_STORE_API: http://${SERVICE_NAME}-ccd-data-store-api
      SERVICES_DOCUMENTS_API_V2: http://${SERVICE_NAME}-cdam
      SERVICES_CCD_CASE_ASSIGNMENT_API: http://${SERVICE_NAME}-aac
      SERVICES_TERMS_AND_CONDITIONS: https://xui-terms-and-conditions-${SERVICE_FQDN}
      JURISDICTIONS: PUBLICLAW
      LAUNCH_DARKLY_CLIENT_ID: 5de6610b23ce5408280f2268
      FEATURE_REDIS_ENABLED: false
      FEATURE_APP_INSIGHTS_ENABLED: false
      FEATURE_SECURE_COOKIE_ENABLED: false
      FEATURE_PROXY_ENABLED: false
      FEATURE_TERMS_AND_CONDITIONS_ENABLED: false
      FEATURE_HELMET_ENABLED: false
      FEATURE_OIDC_ENABLED: false
      FEATURE_JRD_E_LINKS_V2_ENABLED: true
      NOW: false
      REDISCLOUD_URL: redis://${SERVICE_NAME}-redis-master:6379
      PROTOCOL: http
    keyVaults:
      rpx:
        resourceGroup: rpx
        secrets:
          - mc-s2s-client-secret
          - mc-idam-client-secret
          - system-user-name
          - system-user-password
ccd:
  ccd:
    adminWeb:
      enabled: false
    apiGatewayWeb:
      enabled: true
    definitionImporter:
      enabled: false
    managementWeb:
      enabled: false
    s2s:
      enabled: false
    elastic:
      enabled: true

  global:
    ccdApiGatewayIngress: http://${SERVICE_NAME}-ccd-api-gw
    ccdCaseManagementWebIngress: case-management-web-${SERVICE_FQDN}
    ccdDataStoreUrl: http://${SERVICE_NAME}-ccd-data-store-api
    ccdDefinitionStoreUrl: http://${SERVICE_NAME}-ccd-definition-store
    ccdUserProfileUrl: http://${SERVICE_NAME}-ccd-user-profile-api
    dmStoreUrl: http://dm-store-aat.service.core-compute-aat.internal
    idamApiUrl: https://idam-api.aat.platform.hmcts.net
    idamWebUrl: https://idam-web-public.aat.platform.hmcts.net
    s2sUrl: http://rpe-service-auth-provider-aat.service.core-compute-aat.internal
    postgresHostname: "family-public-law-preview.postgres.database.azure.com"
    postgresSecret: postgres
    databaseNamePrefix: "pr-${CHANGE_ID}-"

  ccd-api-gateway-web:
    nodejs:
      disableKeyVaults: true
      releaseNameOverride: ${SERVICE_NAME}-ccd-api-gw
      imagePullPolicy: Always
      environment:
        ADDRESS_LOOKUP_TOKEN: ${ADDRESS_LOOKUP_TOKEN}
        IDAM_SERVICE_KEY: ${CCD_API_GATEWAY_S2S_SECRET}
        IDAM_OAUTH2_CLIENT_SECRET: ${CCD_API_GATEWAY_IDAM_CLIENT_SECRET}
        PROXY_DOCUMENT_MANAGEMENT: http://dm-store-aat.service.core-compute-aat.internal
      ingressHost: gateway-${SERVICE_FQDN}
      ingressIP: ${INGRESS_IP}

  ccd-data-store-api:
    java:
      disableKeyVaults: true
      imagePullPolicy: Always
      devmemoryRequests: '1524Mi'
      devmemoryLimits: '2048Mi'
      devcpuRequests: '900m'
      environment:
        DATA_STORE_DB_HOST: '{{ tpl .Values.global.postgresHostname $}}'
        DATA_STORE_DB_USERNAME: hmcts
        DATA_STORE_IDAM_KEY: ${CCD_DATA_STORE_S2S_SECRET}
        IDAM_OAUTH2_DATA_STORE_CLIENT_SECRET: ${IDAM_OAUTH2_DATA_STORE_CLIENT_SECRET}
        IDAM_DATA_STORE_SYSTEM_USER_USERNAME: ${IDAM_DATA_STORE_SYSTEM_USER_USERNAME}
        IDAM_DATA_STORE_SYSTEM_USER_PASSWORD: ${IDAM_DATA_STORE_SYSTEM_USER_PASSWORD}
        IDAM_API_BASE_URL: https://idam-api.aat.platform.hmcts.net
        IDAM_OIDC_URL: https://idam-web-public.aat.platform.hmcts.net
        ROLE_ASSIGNMENT_URL: https://am-role-assignment-service-${SERVICE_FQDN}
        CCD_S2S_AUTHORISED_SERVICES_CASE_USER_ROLES: fpl_case_service,aac_manage_case_assignment
        DATA_STORE_S2S_AUTHORISED_SERVICES: ccd_gw,ccd_gateway,ccd_data,ccd_ps,aac_manage_case_assignment,xui_webapp,ccd_case_document_am_api,fpl_case_service,em_ccd_orchestrator,wa_workflow_api,wa_task_configuration_api,wa_task_management_api,wa_task_monitor,wa_case_event_handler,am_role_assignment_service
        DATA_STORE_CROSS_JURISDICTIONAL_ROLES: caseworker-caa,caseworker-approver
        ELASTIC_SEARCH_ENABLED: true
        ELASTIC_SEARCH_HOSTS: ${SERVICE_NAME}-es-master:9200
        ELASTIC_SEARCH_DATA_NODES_HOSTS:  http://${SERVICE_NAME}-es-master:9200
        HTTP_CLIENT_READ_TIMEOUT: '120000'
        HTTP_CLIENT_MAX_TOTAL: '300'
        HTTP_CLIENT_MAX_CLIENT_PER_ROUTE: '30'
        DATA_STORE_DB_MAX_POOL_SIZE: 80
        DATA_STORE_DB_OPTIONS: "?stringtype=unspecified&reWriteBatchedInserts=true&sslmode=require"
        CCD_DOCUMENT_URL_PATTERN: ^https?://(((?:dm-store-aat\.service\.core-compute-aat\.internal(?::\d+)?)\/documents\/[A-Za-z0-9-]+(?:\/binary)?))
        CASE_DOCUMENT_AM_URL: http://${SERVICE_NAME}-cdam
        UPLOAD_TIMESTAMP_FEATURED_CASE_TYPES: CARE_SUPERVISION_EPO
      secrets:
        DATA_STORE_DB_PASSWORD:
          secretRef: postgres
          key: PASSWORD
          disabled: false
      ingressHost: ccd-data-store-api-${SERVICE_FQDN}
      autoscaling:
        enabled: false
        minReplicas: 1
        maxReplicas: 1
  ccd-definition-store-api:
    java:
      disableKeyVaults: true
      devmemoryRequests: '1024Mi'
      devmemoryLimits: '2048Mi'
      devcpuRequests: '900m'
      autoscaling:
        enabled: false
        minReplicas: 1
        maxReplicas: 1
      imagePullPolicy: Always
      environment:
        DEFINITION_STORE_DB_HOST: '{{ tpl .Values.global.postgresHostname $}}'
        DEFINITION_STORE_DB_USERNAME: hmcts
        DEFINITION_STORE_IDAM_KEY: ${CCD_DEFINITION_STORE_S2S_SECRET}
        DEFINITION_STORE_S2S_AUTHORISED_SERVICES: ccd_data,ccd_gw,ccd_admin,xui_webapp,aac_manage_case_assignment
        DEFINITION_STORE_TX_TIMEOUT_DEFAULT: 60
        IDAM_USER_URL: https://idam-web-public.aat.platform.hmcts.net
        ELASTIC_SEARCH_ENABLED: true
        ELASTIC_SEARCH_HOST: ${SERVICE_NAME}-es-master
        WELSH_TRANSLATION_ENABLED: false
      secrets:
        DEFINITION_STORE_DB_PASSWORD:
          secretRef: postgres
          key: PASSWORD
          disabled: false
      ingressHost: ccd-definition-store-${SERVICE_FQDN}

  ccd-user-profile-api:
    java:
      disableKeyVaults: true
      imagePullPolicy: Always
      autoscaling:
        enabled: false
        minReplicas: 1
        maxReplicas: 1
      enviroment:
        USER_PROFILE_DB_USERNAME: hmcts
        USER_PROFILE_DB_HOST: '{{ tpl .Values.global.postgresHostname $}}'
      secrets:
        USER_PROFILE_DB_PASSWORD:
          secretRef: postgres
          key: PASSWORD
          disabled: false
      ingressHost: ccd-user-profile-api-${SERVICE_FQDN}

  elasticsearch:
    nameOverride: ${SERVICE_NAME}-es
    clusterName: "es"
    replicas: 1

  logstash:
    image: hmctspublic.azurecr.io/ccd/logstash
    imageTag: "latest"
    logstashJavaOpts: -Xmx1g -Xms512M
    persistence:
      enabled: false
    volumeMounts:
      - name: pipeline
        mountPath: /usr/share/logstash/files
    elasticsearch:
      host: ${SERVICE_NAME}-es-master
      port: 9200
    configTpl:
      xpack.monitoring.enabled: "false"
      db.url: 'jdbc:postgresql://${SERVICE_NAME}-postgresql:5432/pr-${CHANGE_ID}-data-store?ssl=disable&stringtype=unspecified'
      db.user: hmcts
      db.pwd: hmcts
      es.data.nodes.url: http://${SERVICE_NAME}-es-master:9200
    extraEnvs:
      - name: DATA_STORE_URL
        value: 'jdbc:postgresql://family-public-law-preview.postgres.database.azure.com:5432/pr-${CHANGE_ID}-data-store?sslmode=require&stringtype=unspecified'
      - name: DATA_STORE_USER
        value: hmcts
      - name: DATA_STORE_PASS
        valueFrom:
          secretKeyRef:
            name: postgres
            key: PASSWORD
      - name: DB_URL
        value: 'jdbc:postgresql://family-public-law-preview.postgres.database.azure.com:5432/pr-${CHANGE_ID}-data-store?sslmode=require&stringtype=unspecified'
      - name: DB_USER
        value: hmcts
      - name: DB_PWD
        valueFrom:
          secretKeyRef:
            name: postgres
            key: PASSWORD
      - name: ES_HOSTS
        value: http://${SERVICE_NAME}-es-master:9200
      - name: ES_DATA_NODES_URL
        value: http://${SERVICE_NAME}-es-master:9200
      - name: ELASTIC_SEARCH_DATA_NODES_HOSTS
        value: http://${SERVICE_NAME}-es-master:9200
      - name: ES_URL
        value: http://${SERVICE_NAME}-es-master:9200
    livenessProbe:
      initialDelaySeconds: 90
  am-role-assignment-service:
    java:
      ingressHost: am-role-assignment-service-${SERVICE_FQDN}
      autoscaling:
        enabled: false
        minReplicas: 1
        maxReplicas: 1
      environment:
        ROLE_ASSIGNMENT_DB_USERNAME: hmcts
        ROLE_ASSIGNMENT_DB_HOST: '{{ tpl .Values.global.postgresHostname $}}'
      keyVaults:
        am:
          secrets:
          - name: role-assignment-service-LD-SDK-KEY
            alias: LD_SDK_KEY
      secrets:
        ROLE_ASSIGNMENT_DB_PASSWORD:
          secretRef: postgres
          key: PASSWORD
          disabled: false
aac-manage-case-assignment:
  enabled: true
  java:
    imagePullPolicy: Always
    releaseNameOverride: ${SERVICE_NAME}-aac
    image: hmctspublic.azurecr.io/aac/manage-case-assignment:latest
    ingressHost: aac-${SERVICE_FQDN}
    environment:
      IDAM_API_URL: https://idam-api.aat.platform.hmcts.net
      IDAM_OIDC_URL: https://idam-web-public.aat.platform.hmcts.net
      OIDC_ISSUER: https://forgerock-am.service.core-compute-idam-aat.internal:8443/openam/oauth2/hmcts
      S2S_URL: http://rpe-service-auth-provider-aat.service.core-compute-aat.internal
      MCA_DS_PROXY_URLS_ALLOWED_LIST: /searchCases.*,/internal/searchCases.*,/internal/cases.*
      MCA_DEF_STORE_PROXY_URLS_ALLOWED_LIST: /api/display/challenge-questions.*
      MANAGE_CASE_S2S_AUTHORISED_SERVICES: xui_webapp,ccd_data,fpl_case_service,xui_mo_webapp
      CCD_DATA_STORE_API_BASE_URL: http://${SERVICE_NAME}-ccd-data-store-api
      CCD_DEFINITION_STORE_API_BASE_URL: http://${SERVICE_NAME}-ccd-definition-store
      PRD_HOST: http://rd-professional-api-aat.service.core-compute-aat.internal
      ROLE_ASSIGNMENT_URL: https://am-role-assignment-service-${SERVICE_FQDN}
    autoscaling:
      enabled: false
      minReplicas: 1
      maxReplicas: 1
    keyVaults:
      aac:
        secrets:
          - name: aac-manage-case-s2s-secret
            alias: MANAGE_CASE_S2S_KEY
          - name: idam-mca-client-secret
            alias: IDAM_CLIENT_SECRET
          - name: idam-mca-system-user-username
            alias: IDAM_CAA_USERNAME
          - name: idam-mca-system-user-password
            alias: IDAM_CAA_PASSWORD
          - name: idam-noc-approver-username
            alias: IDAM_NOC_APPROVER_USERNAME
          - name: idam-noc-approver-password
            alias: IDAM_NOC_APPROVER_PASSWORD
          - name: notify-mca-api-key-secret
            alias: NOTIFY_MCA_API_KEY

ccd-case-document-am-api:
  enabled: true
  java:
    disableKeyVaults: true
    releaseNameOverride: ${SERVICE_NAME}-cdam
    imagePullPolicy: Always
    image: hmctspublic.azurecr.io/ccd/case-document-am-api:latest
    ingressHost: ccd-case-document-am-api-${SERVICE_FQDN}
    autoscaling:
      enabled: false
      minReplicas: 1
      maxReplicas: 1
    environment:
      IDAM_API_URL: https://idam-api.aat.platform.hmcts.net
      IDAM_OIDC_URL: https://idam-web-public.aat.platform.hmcts.net
      OIDC_ISSUER: https://forgerock-am.service.core-compute-idam-aat.internal:8443/openam/oauth2/hmcts
      S2S_URL: http://rpe-service-auth-provider-aat.service.core-compute-aat.internal
      DM_STORE_BASE_URL: http://dm-store-aat.service.core-compute-aat.internal
      CCD_DATA_STORE_API_BASE_URL: http://${SERVICE_NAME}-ccd-data-store-api
      CASE_DOCUMENT_AM_API_S2S_SECRET: ${CCD_CASE_DOCUMENT_AM_API_SECRET}

xui-mo-webapp:
  enabled: true
  nodejs:
    imagePullPolicy: Always
    releaseNameOverride: ${SERVICE_NAME}-xui-mo-webapp
    image: hmctspublic.azurecr.io/xui/mo-webapp:latest
    ingressHost: xui-mo-${SERVICE_FQDN}
    environment:
      MANAGE_CASE_LINK: https://xui-${SERVICE_FQDN}/cases
      MANAGE_ORG_LINK: https://xui-mo-${SERVICE_FQDN}
      SERVICES_CCD_DATA_STORE_API: http://${SERVICE_NAME}-ccd-data-store-api
      SERVICES_MCA_PROXY_API: http://${SERVICE_NAME}-aac
      CASE_TYPES: CARE_SUPERVISION_EPO

postgresql:
  enabled: true
  flexibleserver: family-public-law-preview
  setup:
    databases:
    - name: "pr-${CHANGE_ID}-data-store"
    - name: "pr-${CHANGE_ID}-definition-store"
    - name: "pr-${CHANGE_ID}-user-profile"
    - name: "pr-${CHANGE_ID}-draftstore"
    - name: "pr-${CHANGE_ID}-payment"
    - name: "pr-${CHANGE_ID}-evidence"
    - name: "pr-${CHANGE_ID}-annotation"
    - name: "pr-${CHANGE_ID}-role-assignment"
    - name: "pr-${CHANGE_ID}-wa-case-event-handler"
    - name: "pr-${CHANGE_ID}-wa_workflow_api"
    - name: "pr-${CHANGE_ID}-camunda"
    - name: "pr-${CHANGE_ID}-cft_task_db"
    - name: "pr-${CHANGE_ID}-cft_task_db_replica"
