tags:
  fpl-ccd-stack: false
  ccd-idam-pr: false

java:
  image: hmctspublic.azurecr.io/fpl/case-service:latest
  environment:
    IDAM_CLIENT_ID: fpl_case_service
    IDAM_CLIENT_REDIRECT_URI: https://fpl-case-service-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal/oauth2/callback
    IDAM_API_URL: https://idam-api.{{ .Values.global.environment }}.platform.hmcts.net
    IDAM_S2S_AUTH_URL: http://rpe-service-auth-provider-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal
    RD_PROFESSIONAL_API_URL: http://rd-professional-api-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal
    CORE_CASE_DATA_API_URL: http://ccd-data-store-api-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal
    SEND_LETTER_URL: http://rpe-send-letter-service-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal
    PAYMENT_API_URL: http://payment-api-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal
    FEES_REGISTER_API_URL: http://fees-register-api-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal
    DOCUMENT_MANAGEMENT_URL: http://dm-store-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal
    CCD_UI_BASE_URL: http://www-ccd.{{ .Values.global.environment }}.platform.hmcts.net
    DOCMOSIS_TORNADO_URL: https://docmosis-development.platform.hmcts.net
    SPRING_MAIL_HOST: mta.reform.hmcts.net
    SPRING_MAIL_PORT: 25
    SPRING_MAIL_PROPERTIES_MAIL_SMTP_STARTTLS_ENABLE: true
    SPRING_MAIL_PROPERTIES_MAIL_SMTP_SSL_TRUST: mta.reform.hmcts.net
    AUTH_IDAM_CLIENT_BASEURL: https://idam-api.{{ .Values.global.environment }}.platform.hmcts.net
    AUTH_PROVIDER_SERVICE_CLIENT_BASEURL: http://rpe-service-auth-provider-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal
  keyVaults:
    fpl:
      resourceGroup: fpl-case-service
      secrets:
        - notify-api-key
        - docmosis-api-key
        - fpl-case-service-s2s-secret
        - fpl-case-service-idam-client-secret
        - local-authority-email-to-code-mapping
        - local-authority-code-to-name-mapping
        - local-authority-user-mapping
        - local-authority-code-to-hmcts-court-mapping
        - local-authority-code-to-cafcass-mapping
        - local-authority-code-to-shared-inbox-mapping
        - local-authority-fallback-inbox
        - system-update-user-username
        - system-update-user-password
        - robotics-notification-sender
        - robotics-notification-recipient
        - ld-sdk-key
        - ctsc-inbox
  applicationPort: 4000
