tags:
  fpl-ccd-stack: false

idam-pr:
  enabled: false

xui-webapp:
  enabled: false

elastic:
  enabled: false

fpl-mock:
  enabled: false

aac-manage-case-assignment:
  enabled: false

java:
  aadIdentityName: family-public-law
  image: hmctspublic.azurecr.io/fpl/case-service:latest
  environment:
    FPL_ENV: '{{ .Values.global.environment }}'
    IDAM_CLIENT_ID: fpl_case_service
    IDAM_CLIENT_REDIRECT_URI: https://fpl-case-service-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal/oauth2/callback
    IDAM_API_URL: https://idam-api.{{ .Values.global.environment }}.platform.hmcts.net
    IDAM_S2S_AUTH_URL: http://rpe-service-auth-provider-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal
    RD_PROFESSIONAL_API_URL: http://rd-professional-api-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal
    CORE_CASE_DATA_API_URL: http://ccd-data-store-api-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal
    CASE_ASSIGNMENT_API_URL: http://aac-manage-case-assignment-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal
    SEND_LETTER_URL: http://rpe-send-letter-service-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal
    PAYMENT_API_URL: http://payment-api-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal
    FEES_REGISTER_API_URL: http://fees-register-api-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal
    DOCUMENT_MANAGEMENT_URL: http://dm-store-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal
    MANAGE_CASE_UI_BASE_URL: https://manage-case.{{ .Values.global.environment }}.platform.hmcts.net
    DOCMOSIS_TORNADO_URL: https://docmosis.{{ .Values.global.environment }}.platform.hmcts.net
    AUTH_IDAM_CLIENT_BASEURL: https://idam-api.{{ .Values.global.environment }}.platform.hmcts.net
    AUTH_PROVIDER_SERVICE_CLIENT_BASEURL: http://rpe-service-auth-provider-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal
    SCHEDULER_DB_USER: fpl_scheduler@fpl-case-service-{{ .Values.global.environment }}
    SCHEDULER_DB_HOST: fpl-case-service-{{ .Values.global.environment }}.postgres.database.azure.com
    SCHEDULER_DB_PORT: 5432
    SPRING_CLOUD_BOOTSTRAP_ENABLED: true
  keyVaults:
    fpl:
      secrets:
        - notify-api-key
        - docmosis-api-key
        - send-grid-api-key
        - fpl-case-service-s2s-secret
        - fpl-case-service-idam-client-secret
        - local-authority-email-to-code-mapping
        - local-authority-code-to-name-mapping
        - local-authority-user-mapping
        - local-authority-code-to-hmcts-court-mapping
        - local-authority-code-to-cafcass-mapping
        - local-authority-code-to-org-id-mapping
        - local-authority-code-to-shared-inbox-mapping
        - eps-to-local-authorities-mapping
        - mla-to-local-authorities-mapping
        - local-authority-fallback-inbox
        - system-update-user-username
        - system-update-user-password
        - robotics-notification-sender
        - robotics-notification-recipient
        - ld-sdk-key
        - ctsc-inbox
        - AppInsightsInstrumentationKey
        - scheduler-db-password
  applicationPort: 4000
