tags:
  fpl-ccd-stack: false
  ccd-idam-pr: false

java:
  image: hmctspublic.azurecr.io/fpl/case-service:latest
  environment:
    IDAM_API_URL: https://idam-api.aat.platform.hmcts.net
    IDAM_S2S_AUTH_URL: http://rpe-service-auth-provider-aat.service.core-compute-aat.internal
    CORE_CASE_DATA_API_URL: http://ccd-data-store-api-aat.service.core-compute-aat.internal
    DOCUMENT_MANAGEMENT_URL: http://dm-store-aat.service.core-compute-aat.internal
    CCD_UI_BASE_URL: https://ccd-case-management-web-aat.service.core-compute-aat.internal
    DOCMOSIS_TORNADO_URL: https://docmosis-development.platform.hmcts.net
    SPRING_MAIL_HOST: mta.reform.hmcts.nets
    SPRING_MAIL_PORT: 25
    SPRING_MAIL_PROPERTIES_MAIL_SMTP_STARTTLS_ENABLE: true
    SPRING_MAIL_PROPERTIES_MAIL_SMTP_SSL_TRUST: mta.reform.hmcts.nets
    AUTH_IDAM_CLIENT_BASEURL: https://idam-api.aat.platform.hmcts.nets
    AUTH_PROVIDER_SERVICE_CLIENT_BASEURL: http://rpe-service-auth-provider-aat.service.core-compute-aat.internal
  applicationPort: 4000
