tags:
  fpl-ccd-stack: true
  ccd-idam-pr: true

java:
  image: ${IMAGE_NAME}
  ingressHost: ${SERVICE_FQDN}
  livenessDelay: 50
  environment:
    CORE_CASE_DATA_API_URL: http://${SERVICE_NAME}-data-store-api
    IDAM_CLIENT_REDIRECT_URI: https://fpl-case-service-*.service.core-compute-aat.internal/oauth2/callback
    SPRING_SECURITY_ENABLED: true
    SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_ISSUERURI: https://forgerock-am.service.core-compute-idam-aat2.internal:8443/openam/oauth2/realms/root/realms/hmcts
    SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_JWKSETURI: https://idam-api.aat.platform.hmcts.net/o/jwks
    GATEWAY_URL: https://gateway-${SERVICE_FQDN}
    FEATURE_TOGGLE_ROBOTICS_CASE_NUMBER_NOTIFICATION_ENABLED: true
    FEATURE_TOGGLE_ROBOTICS_SUPPORT_API_ENABLED: true
    LD_USER_KEY: FPLA_PREVIEW

ccd:
  ingressHost: ${SERVICE_FQDN}
  ingressIP: ${INGRESS_IP}
  consulIP: ${CONSUL_LB_IP}
  cpuRequests: 250m
  idam-pr:
    releaseNameOverride: ${SERVICE_NAME}-ccd-idam-pr
    redirect_uris:
      CCD:
        - https://case-management-web-${SERVICE_FQDN}/oauth2redirect
    cpuRequests: 25m
    memoryRequests: 8Mi
    cpuLimits: 50m
    memoryLimits: 16Mi
  caseManagementWeb:
    enabled: true
    environment:
      NODE_TLS_REJECT_UNAUTHORIZED: 0
      DM_URL: https://gateway-${SERVICE_FQDN}/documents
      DM_URL_REMOTE: https?://(gateway-${SERVICE_FQDN}:443|dm-store-aat.service.core-compute-aat.internal)/documents
      CCD_ACTIVITY_URL: null
  apiGateway:
    s2sKey: ${CCD_API_GATEWAY_S2S_SECRET}
    idamClientSecret:
      value: ${CCD_API_GATEWAY_IDAM_CLIENT_SECRET}
    environment:
      PROXY_DOCUMENT_MANAGEMENT: http://dm-store-aat.service.core-compute-aat.internal
      ADDRESS_LOOKUP_TOKEN: ${ADDRESS_LOOKUP_TOKEN}
  definitionStoreApi:
    s2sKey: ${CCD_DEFINITION_STORE_S2S_SECRET}
  dataStoreApi:
    s2sKey: ${CCD_DATA_STORE_S2S_SECRET}
