tags:
  fpl-ccd-stack: true
  ccd-idam-pr: true

java:
  image: ${IMAGE_NAME}
  ingressHost: ${SERVICE_FQDN}
  environment:
    CORE_CASE_DATA_API_URL: http://${SERVICE_NAME}-data-store-api
    FPL_LOCAL_AUTHORITY_EMAIL_TO_CODE_MAPPING: swansea.gov.uk=>FPLA;hillingdon.gov.uk=>HN
  keyVaults:
    fpl:
      resourceGroup: fpl-case-service
      secrets:
        - notify-api-key
        - fpl-case-service-s2s-secret
        - local-authority-email-to-code-mapping
        - local-authority-code-to-name-mapping
        - local-authority-user-mapping
        - local-authority-code-to-hmcts-court-mapping
        - local-authority-code-to-cafcass-mapping

ccd:
  ingressHost: ${SERVICE_FQDN}
  ingressIP: ${INGRESS_IP}
  consulIP: ${CONSUL_LB_IP}
  idam-pr:
    releaseNameOverride: ${SERVICE_NAME}-ccd-idam-pr
    redirect_uris:
      CCD:
        - https://case-management-web-${SERVICE_FQDN}/oauth2redirect
  caseManagementWeb:
    enabled: true
    environment:
      NODE_TLS_REJECT_UNAUTHORIZED: 0
      DM_URL: https://gateway-${SERVICE_FQDN}/documents
      DM_URL_REMOTE: https?://(gateway-${SERVICE_FQDN}:443|dm-store-aat.service.core-compute-aat.internal)/documents
  apiGateway:
    s2sKey: ${CCD_API_GATEWAY_S2S_SECRET}
    idamClientSecret:
      value: ${CCD_API_GATEWAY_IDAM_CLIENT_SECRET}
    environment:
      PROXY_DOCUMENT_MANAGEMENT: http://dm-store-aat.service.core-compute-aat.internal
      ADDRESS_LOOKUP_TOKEN: ${ADDRESS_LOOKUP_TOKEN}
  definitionStoreApi:
    s2sKey: ${CCD_DEFINITION_STORE_S2S_SECRET}
  dataStoreApi:
    s2sKey: ${CCD_DATA_STORE_S2S_SECRET}
